<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="../../images/logo/logo-icon.jpg" />
	<title>渔子洲头欢迎您</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../css/all-stylesheets.css" rel="stylesheet">
	<script src="../../js/jquery-1.12.4/jquery.min.js"></script>
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="bg_img" style="background:#9F9F9F;opacity:0.8;display:none;position:fixed;width:100%;height:100%; z-index:9998"></div><!--
 ========================================================================= -->
<div id="preloader">
 <div id="status">
	<div class="spinner"></div>
 </div>
</div>
<!-- /. PRELOADER ENDS
 ========================================================================= -->
<!-- Start Top Bar
 ========================================================================= -->
<div class="top-bar">
 <div class="container">
	<div class="row">
	   <div class="col-md-9 col-sm-9 col-xs-6 contact-detail-column">
		  <!-- Start Contact Info -->
		  <ul class="contact-details">
			 <!-- <li class="hidden-xs"><b>欢迎来到渔子洲头！</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </li> -->
			<!-- <li><i class="fa fa-phone"></i> (+86) 18911581855
			 </li> -->
		  </ul>
		  <!-- End Contact Info -->
	   </div>
	   <!-- .col-md-6 -->
	   <div class="col-md-3 col-sm-3 col-xs-6">
		  <!-- Start Social Links -->
		  <ul class="social-list">
			 <!-- <li>
				<a class="linkdin itl-tooltip" data-placement="bottom" title="" href="#"><i class="fa fa-user" aria-hidden="true"></i> Hello Visitor !</a>
			 </li> -->
		  </ul>
		  <!-- End Social Links -->
	   </div>
	   <!-- .col-md-6 -->
	</div>
	<!-- .row -->
 </div>
 <!-- .container -->
</div>
<!-- .top-bar -->
<!-- End Top Bar
 ========================================================================= -->
<!-- NAVIGATION STARTS
 ========================================================================= -->
<nav class="navbar navbar-default navigation normal">
 <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	   <span class="sr-only">Toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand visible-xs" href="../../images/logo/logo.jpg"  target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   <ul class="nav navbar-nav">
		  <li class="pull-left"><a class="navbar-brand hidden-xs" href="../../images/logo/logo.jpg " target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a></li>
	   </ul>
	   
	      <ul class="nav navbar-nav">
	   			  <br />
	   			 <li ><b>渔子洲头水产品有限公司</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   			 </li>
	   			 <li><i class="fa fa-phone"></i> (+86) 16215067776
	   			 </li>
	   </ul>

	   <ul class="nav navbar-nav navbar-right">
		 
		  <!-- <li><a href="cart.html">购物车</a></li> -->
		  <li><a href ="javascript:return false;" onclick="return false;" style="color: #FFFFFF; font-size: 16px;">la</a></li>
	   </ul>
	
	</div>
	<!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
<!-- /. NAVIGATION ENDS
 ========================================================================= -->
<!-- INNER BANNER STARTS
 ========================================================================= -->
<div class="inner-banner-style banner-img-01">
 <div class="container">
	<div class="row">
	   <div class="col-lg-12">
		  <div class="info">
			 <h1>产品详情</h1>
			 <img src="../../images/blog/1.png" alt="" class="img-responsive blog-image">
		  </div>
		  <ol class="breadcrumb sicon">
			 <li><a href="../../index.html">首页</a></li>
			 <li><a href="../../about.html">关于我们</a></li>
			  <li><a href="../../products.html">产品列表</a></li>
			   <li><a href="#">产品详情</a></li>
		  </ol>
		  
	   </div>
	</div>
 </div>
</div>
<!-- /. INNER BANNER ENDS
 ========================================================================= -->

	<div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">海 参</h3>
			<div class="about-top">
				<h3 class="subheading">Sea Cucumber</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">海参</strong>，高蛋白，低脂肪，低糖且富含各种人体必需的氨基酸、维生素、必需脂肪酸以及常量和微量元素。
					海参体内含有18种氨基酸，其中甘氨酸、精氨酸和谷氨酸含量远远高于其它氨基酸。海参体内含有VA、VB1、VB2、VB6、VD、VE和VK7种维生素。
					海参必需脂肪酸种类齐全，如亚油酸、亚麻酸、EPA、DHA等。必需脂肪酸对于增强人体免疫以及人脑的机能具有重要作用。另外，海参体内还富含人体必需的常量和微量元素，其中微量元素中铁、锌含量明显高于其它元素。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/seacucumber/haishen.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海参</strong>的形态多为圆筒状，但粗细、形状和大小随种类不同存在差异。海参在各类山珍海味中位尊“八珍”，还具多种中医特指的补益养生功能。
					<br><br> <strong style="font-size: 18px;">海参</strong>分布世界各海，种类最多的是印度—西太平洋区，尤其是食用海参，大多分布在热带珊瑚礁内。我国北方只有一种食用海参，即刺参，而海南岛和西沙群岛却产有十几种食用海参。食用海参大多生活于潮间带或浅海。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">《本草纲目拾遗》</strong>记载，“海参性温补，足敌人参，故名海参；味甘咸，补肾经，益精髓，消痰延，摄小便，壮阳疗痿，杀疮虫。”现代药理研究表明，海参具有抗肿瘤、调节免疫力、抗氧化等多种药理作用。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/seacucumber/haishen2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="tittle-w3ls">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 常 见 菜 谱</h3>
			<div class="inner_sec_info_w3ls_agile">
				<div class="col-md-6 testimonials-main">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
								<li data-target="#quote-carousel" data-slide-to="3"></li>
								<li data-target="#quote-carousel" data-slide-to="4"></li>
							</ol>

						<div class="carousel-inner">
								<div class="item active">

									<div class="inner-testimonials">
										<img src="../../images/detail/seacucumber/haishen3.jpg" alt=" " class="img-responsive" />
										<div class="teastmonial-info">
											<h5>清汤海参</h5>
											<span>Sea cucumber soup</span><br>
											<p class="paragraph">
												<strong style="font-size: 18x;">制作食材</strong><br>
主料：水发海参250克
<br>
辅料：水发玉兰片25克，水发冬菇25克，香菜（用叶）25克，熟猪油25克，料酒15克，味精3克，盐4克，香油10克，胡椒粉2克，鲜汤适量。
<br>
<strong style="font-size: 18x;">制作流程</strong><br>
1．将发好的海参洗净，顺长向切成抹刀片，大的片成3片，小的片成2片；玉兰片洗净，切成片；冬菇洗净，去蒂，破开；香菜洗净，清毒；<br>
2．锅内加水，浇沸后下入海参片、玉兰片和冬菇片焯烫一下捞出，控净水，盛在汤碗内；<br>
3．将锅架在火上，放入熟猪油烧至六七成热，加鲜汤、料酒、味精、盐，汤烧开后调好口味，撇去浮沫；将少许沸汤冲在大汤碗内，烫一下海参片，然后把汤滗回锅内，烧开后再将锅内汤盛于汤碗内，撒上胡椒粉，淋入香油，放上洗净的香菜叶即成。
												
												
												</p>
										</div>
									</div>
								</div>
								
								<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/seacucumber/haishen4.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>红烧海参</h5>
																			<span>Braised sea cucumber</span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：海参200g
								<br>
								辅料：竹笋20g，胡萝卜20g，姜片5g，葱1根，高汤，盐1g，鸡粉2g，糖2g，蚝油15g，老抽，胡椒粉少许，太白粉水，香油
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．海参洗净后切大块；
								<br>
								2．葱切段；笋、胡萝卜切小片
								<br>
								3．海参、葱、笋、胡萝卜片全部一起入滚水中汆烫后，取出沖凉沥干备用。；
								<br>
								4．取热锅加入沙拉油，先以小火爆炒葱、姜、海参、笋片、胡萝卜片后，加入调味料
								<br>
								5. 待
								锅煮滚后再煮约30秒，以太白粉水勾芡后，淋上香油拌匀即可。
																				
																				
																				</p>
																		</div>
																	</div>
							</div>
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/seacucumber/haishen5.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>海参炒三丝</h5>
																				<span>Fried Sea Cucumber</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：海参  
									<br>
									辅料：笋 、 猪里脊肉	　、高汤  、生抽 、 老抽  
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将海参、笋和里脊切丝，把里脊丝用淀粉和料酒抓匀备用
									<br>
									2．把海参丝放入沸水中焯一下，捞出备用 
									<br>
									3．上火做锅，倒入食用油，烧到三四成热，放入肉丝，肉丝变为白色捞出备用
									<br>
									4．锅中留少许底油，放葱花爆香，然后倒入海参，笋丝和肉丝翻炒几下
									<br>
									5．倒入高汤（不要没过菜即可），放盐，白糖（少许，主要是为了提味），生抽和老抽，烧开后改小火，烧制五分钟
									<br>
									6．下水淀粉勾芡收汁，出锅。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
								
											<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/seacucumber/haishen6.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>海参小米粥</h5>
																				<span>Sea cucumber porridge</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：小米50g，海参100g
									<br>
									辅料：鸡汤250毫升，盐3g
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．活海参焯水后开肠去杂冲净，上锅蒸40 分钟至软烂，切条待用；
									<br>
									2．小米洗净，用鸡汤煲成粥；
									<br>
									3． 将小米粥与海参倒入炖盅，放盐再炖15分钟即成。
									
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
								
								
								
											<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/seacucumber/haishen7.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>葱爆海参</h5>
																				<span>Scallion sea cucumber</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：水发海参1000克。
									<br>
									辅料：精盐2克，大葱105克，味精3.5克，青蒜15克，湿淀粉10克，姜末5克，鸡汤700克、姜汁27.5克，糊葱油50克，白糖27.5克，熟猪油150克（约耗75克），酱油12.5克，绍酒15克。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将水发嫩小海参洗净，整个放入凉水锅中，用旺火烧开，约煮5分钟捞出，沥净水，再用300克鸡汤煮软并使其进味后沥净鸡汤。把大葱分别切成长5厘米的段（100克）和末（5克）。青蒜切成长3.3厘米的段。
									<br>
									2．将炒锅置于旺火上，倒入熟猪油，烧到八成热时下入葱段，炸成金黄色时炒锅端离火中，葱段端在碗中，加入鸡汤100克、绍酒5克、姜汁2.5克、酱油2.5克、白糖2.5克和味精1克，上屉用旺火蒸1至2分钟取出，滗去汤汁，留下葱段备用。
									<br>
									3．猪油加炸好的葱段 、海参、精盐、清汤、白糖、料酒、酱油、糖色、烧开后移至微火煨两到三分钟，上旺火加味精用淀粉勾芡，用中火烧透收汁，淋入葱油，盛入盘中即可。
								
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
							
							
								<!-- Carousel Buttons Next/Prev -->
							<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
							<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

						</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //Testimonials -->
	
	
	


<!-- PAGINATION ENDS  -->
<div class="img_backdround-contact">
 <div class="container">
	<div class="row ">
	   <div class="col-lg-6">
	   </div>
	   
	   <div class="col-lg-6 div_margin">
		  <div class="contact">
			 <h1  style="color:#D9534F; font-weight: 900; font-size:50px; ;">抢购方式</h1>
		  </div>
		<!--  <div class="div_line-yal-index">
			 <img class="img-responsive " src="images/blog/line-yal-red.png" alt="">
		  </div> -->
		  <div class="phone">
			 <h2 style="font-size: 28px;">1、官方淘宝店铺:</h2>
		  </div>
		  <div>
			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
		<!--  <img src="../../images/contact/dianpu2.jpg"> -->
		  <img src="../../images/contact/dianpu.png">
		 
		  </div>
		  <div class="div_readmore-red">
			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">点击进入网页版店铺</a>
		  </div>
	   </div>
	   
	   
	   	   <div class="col-lg-6 " style="margin-top: 125px;">
	   		  
	   		  <div class="phone">
	   			 <h2 style="font-size: 28px;">2、官方微信小程序:</h2>
	   		  </div>
	   		  <div>
	   			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
	   		  <!-- <img src="../../images/contact/wait.jpg"> -->
	   		  <img src="../../images/contact/wxp2.png">
	   		 
	   		  </div>
	   		 <!-- <div class="div_readmore-red">
	   			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">进店去看看</a>
	   		  </div> -->
	   </div>
	   
	   
	</div>
	
 </div>
</div>






<!-- Start Footer Section -->
<footer>
 <div class="container">
	<!-- Start Subscribe & Social Links Widget -->
	<div class="row footer-row">
	   <div class="col-lg-4 col-md-4 col-sm-4 contact-widget">
		  <div class="footer-widget mail-subscribe-widget">
			 <div class="title">联系我们</div>
			 <div class="phone" style="font-size: 18px;">(+86) 16215067776</div>
			<div>
				<h2 class="widgettitle">地址：连云港市赣榆区海头镇梁东沙村</h2>
				
			 </div>
		  </div>
	   </div>
	   <div class="col-lg-1"></div>
	   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
		<h2 class="widgettitle">了解我们</h2>
		  <ul class="usefull-links">
			 <li><a href="../../about.html" target="_blank">关于我们</a></li>
			  <li> <img class="img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">招聘信息</a></li>
			 <li><a href="../../products.html" target="_blank">产品信息</a></li>
			  <li> <img class="../../img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">寻求合作</a></li>
		    <li> <img class="img" id="pic11" src="../../images/contact/zhizhao.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);z-index:9999"/><a  onclick="showImg11()">营业执照公示</a></li>
		  </ul>
	   </div>
	   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
		 <h2 class="widgettitle">关注我们</h2>
		  <!-- <img src="images/blog/4.png" alt="" class="liner"> -->
			  <ul class="usefull-links">
					 <li> <img class="img" id="pic1" src="../../images/contact/wxp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg()">微信小程序</a></li>
					 <li><img class="img" id="pic3" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  href="https://weibo.com/u/7306941816" target="_blank">微博</a></li>
					 <li> <img class="img" id="pic4" src="../../images/contact/wxapp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg4()">微信公众号</a></li>
					 <li><img class="img" id="pic5" src="../../images/contact/douyin.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg5()">抖音</a></li>
					 <li><img class="img" id="pic6" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg6()">淘宝网店</a></li>
					 <li><img class="img" id="pic7" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg7()">京东网店</a></li>
					 <li><img class="img" id="pic8" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg8()">安卓APP</a></li>
					 <li><img class="img" id="pic9" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg9()">IOS端应用</a></li>
		</ul>
	   </div>
	   <div class="col-lg-3 col-md-3 col-sm-3 footer-pic">
		  <!-- <h2 class="widgettitle">OUR STORY</h2>
		  <img src="images/blog/4.png" alt="" class="liner"> -->
		  <div class="row">
			 <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 padding-zero">
				<img src="../../images/blog/footer1.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer2.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer3.jpg" alt="" class="img-responsive">
			 </div>
		  </div>
		  <div class="row">
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
				<img src="../../images/blog/footer4.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer5.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
				<img src="../../images/blog/footer6.jpg" alt="" class="img-responsive">
			 </div>
		  </div>
	   </div>
	</div>
	<!-- .row -->
 </div>
</footer>

<!-- End Footer Section -->
<!-- Start Copyright -->
<div class="copyright-section">
<!-- <div class="container"> -->
	<!-- <div class="row"> -->
	<!--  <div class="col-md-6">
		  <div class="footer-icons">
			 <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>			   
			 <a href="#" class="tweet"><i class="fa fa-twitter"></i></a>
			 <a href="#" class="linked"><i class="fa fa-linkedin-square"></i></a>
			 <a href="#" class="utube"><i class="fa fa-youtube"></i></a>
			 <a href="#" class="app"><i class="fa fa-whatsapp"></i></a>
			 <a href="#" class="interest"><i class="fa fa-pinterest"></i></a>
		  </div>
	   </div> -->
	   <!-- .col-md-6 -->
	  
	   <!-- <div class="col-md-6 butcher-col"> -->
		 
		   <p style="font-size: 12px; margin:0 auto; position:absolute;left: 33.5% ">站点声明：本站为渔子洲头水产品有限公司官方网站，未经允许不得用作任何商业用途。维护意见邮箱：347113619@qq.com</p><div style="width:300px;margin:0 auto; padding:20px 0;"><nobr><a rel="nofollow" href="http://beian.miit.gov.cn" target="_blank" style="color:#939393;font-size:16px; position:absolute;left: 35%">网站备案号： 苏ICP备20014160号</a><p style="font-size: 16px; margin:0 auto; position:absolute;left: 50% ">|</p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32072102010144" style="position:absolute;left: 52.5%;display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../../images/logo/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32072102010144号</p></a><nobr> 	</div>
			
	   <!-- </div> -->
	   <!-- .col-md-6 -->
	<!-- </div> -->
	<!-- .row -->
<!-- </div> -->

</div>




	
		<script>
			function showImg(){
			     $('.bg_img').show();
			     $('#pic1').show();
			 }
			 function showImg2(){
			      $('.bg_img').show();
			      $('#pic2').show();
			  }
			  function showImg3(){
			       $('.bg_img').show();
			       $('#pic3').show();
			   }
			   function showImg4(){
			        $('.bg_img').show();
			        $('#pic4').show();
			    }
				function showImg5(){
				     $('.bg_img').show();
				     $('#pic5').show();
				 }
				 function showImg6(){
				      $('.bg_img').show();
				      $('#pic6').show();
				  }
				  function showImg7(){
				       $('.bg_img').show();
				       $('#pic7').show();
				   }
				   function showImg8(){
				        $('.bg_img').show();
				        $('#pic8').show();
				    }
					function showImg9(){
					     $('.bg_img').show();
					     $('#pic9').show();
					 }
					  //招聘信息&&寻求合作
					 function showImg10(){
					      $('.bg_img').show();
					      $('#pic10').show();
					  }
					  //营业执照
					   function showImg11(){
					       $('.bg_img').show();
					       $('#pic11').show();
					   }
					  
					 
					 
					 
			 $('.bg_img').click(function(){
			     $('.bg_img').hide();
			     $('.img').hide();
			 });
			 
			 
			 
	    </script>

	
	<!-- js -->
	<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<script type="text/javascript" src="../../js/bootstrap.js"></script>
	
	
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Bootstrap Dropdown Hover JS -->
	<script src="../../js/dropdownhover/bootstrap-dropdownhover.min.js"></script>
	<!-- REVOLUTION JS FILES -->
	<script src="../../revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	 (Load Extensions only on Local File Systems !  
	 The following part can be removed on Server for On Demand Loading) -->
	<script src="../../revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 var tpj = jQuery;
	 
	 var revapi1078;
	 tpj(document).ready(function() {
		 if (tpj("#rev_slider_1078_1").revolution == undefined) {
			 revslider_showDoubleJqueryError("#rev_slider_1078_1");
		 } else {
			 revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
				 sliderType: "standard",
				 jsFileLocation: "revolution/js/",
				 sliderLayout: "fullscreen",
				 dottedOverlay: "none",
				 delay: 9000,
				 navigation: {
					 keyboardNavigation: "off",
					 keyboard_direction: "horizontal",
					 mouseScrollNavigation: "off",
					 mouseScrollReverse: "default",
					 onHoverStop: "off",
					 touch: {
						 touchenabled: "on",
						 swipe_threshold: 75,
						 swipe_min_touches: 1,
						 swipe_direction: "horizontal",
						 drag_block_vertical: false
					 },
					 arrows: {
						 style: "zeus",
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"><\/div> <\/div>',
						 left: {
							 h_align: "left",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 },
						 right: {
							 h_align: "right",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 }
					 },
					 bullets: {
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 style: "metis",
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 direction: "horizontal",
						 h_align: "center",
						 v_align: "bottom",
						 h_offset: 0,
						 v_offset: 30,
						 space: 5
					 }
				 },
				 viewPort: {
					 enable: true,
					 outof: "pause",
					 visible_area: "80%",
					 presize: false
				 },
				 responsiveLevels: [1240, 1024, 778, 480],
				 visibilityLevels: [1240, 1024, 778, 480],
				 gridwidth: [1240, 1024, 778, 480],
				 gridheight: [600, 600, 500, 400],
				 lazyType: "none",
				 parallax: {
					 type: "mouse",
					 origo: "slidercenter",
					 speed: 2000,
					 levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
					 type: "mouse",
				 },
				 shadow: 0,
				 spinner: "off",
				 stopLoop: "off",
				 stopAfterLoops: -1,
				 stopAtSlide: -1,
				 shuffle: "off",
				 autoHeight: "off",
				 hideThumbsOnMobile: "off",
				 hideSliderAtLimit: 0,
				 hideCaptionAtLimit: 0,
				 hideAllCaptionAtLilmit: 0,
				 debugMode: false,
				 fallbacks: {
					 simplifyAll: "off",
					 nextSlideOnWindowFocus: "off",
					 disableFocusListener: false,
				 }
			 });
		 }
	 }); /*ready*/
	</script>
	<!-- Parallax -->
	<script src="../../js/parallax/jquery.parallax-1.1.3.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
	<!-- Owl Carousel -->
	<script src="../../js/owl-carousel/owl.carousel.js" type="text/javascript"></script>
	<!-- FitVids -->
	<script src="../../js/fitvids/jquery.fitvids.js" type="text/javascript"></script>
	<!-- Isotope -->
	<script src="../../js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="../../js/isotope/custom-isotope-mansory.js" type="text/javascript"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../../js/magnific-popup/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- Counter Up -->
	<script src="../../js/counterup/waypoints.min.js"></script>
	<script src="../../js/counterup/jquery.counterup.min.js"></script>
	<!-- AJAX Contact Form -->
	<script src="../../js/contact/contact-form.js" type="text/javascript"></script>
	<!-- Donut Chart -->
	<script src="../../js/progress-bars/jquery.donutchart.js" type="text/javascript"></script>
	<!-- Custom JS -->
	<script src="../../js/custom/custom.js"></script>
	<script src="../../js/collapse/collapse.js"></script>
	<script src="../../js/pmenu/pmenu.js"></script>

	
</body>

</html>