<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="../../images/logo/logo-icon.jpg" />
	<title>渔子洲头欢迎您</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../css/all-stylesheets.css" rel="stylesheet">
	<script src="../../js/jquery-1.12.4/jquery.min.js"></script>
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,<700it></700it>alic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="bg_img" style="background:#9F9F9F;opacity:0.8;display:none;position:fixed;width:100%;height:100%; z-index:9998"></div><!--
 ========================================================================= -->
<div id="preloader">
 <div id="status">
	<div class="spinner"></div>
 </div>
</div>
<!-- /. PRELOADER ENDS
 ========================================================================= -->
<!-- Start Top Bar
 ========================================================================= -->
<div class="top-bar">
 <div class="container">
	<div class="row">
	   <div class="col-md-9 col-sm-9 col-xs-6 contact-detail-column">
		  <!-- Start Contact Info -->
		  <ul class="contact-details">
			 <!-- <li class="hidden-xs"><b>欢迎来到渔子洲头！</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </li> -->
			<!-- <li><i class="fa fa-phone"></i> (+86) 18911581855
			 </li> -->
		  </ul>
		  <!-- End Contact Info -->
	   </div>
	   <!-- .col-md-6 -->
	   <div class="col-md-3 col-sm-3 col-xs-6">
		  <!-- Start Social Links -->
		  <ul class="social-list">
			 <!-- <li>
				<a class="linkdin itl-tooltip" data-placement="bottom" title="" href="#"><i class="fa fa-user" aria-hidden="true"></i> Hello Visitor !</a>
			 </li> -->
		  </ul>
		  <!-- End Social Links -->
	   </div>
	   <!-- .col-md-6 -->
	</div>
	<!-- .row -->
 </div>
 <!-- .container -->
</div>
<!-- .top-bar -->
<!-- End Top Bar
 ========================================================================= -->
<!-- NAVIGATION STARTS
 ========================================================================= -->
<nav class="navbar navbar-default navigation normal">
 <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	   <span class="sr-only">Toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand visible-xs" href="../../images/logo/logo.jpg"  target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   <ul class="nav navbar-nav">
		  <li class="pull-left"><a class="navbar-brand hidden-xs" href="../../images/logo/logo.jpg " target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a></li>
	   </ul>
	   
	      <ul class="nav navbar-nav">
	   			  <br />
	   			 <li ><b>渔子洲头水产品有限公司</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   			 </li>
	   			 <li><i class="fa fa-phone"></i> (+86) 16215067776
	   			 </li>
	   </ul>

	   <ul class="nav navbar-nav navbar-right">
		 
		  <!-- <li><a href="cart.html">购物车</a></li> -->
		  <li><a href ="javascript:return false;" onclick="return false;" style="color: #FFFFFF; font-size: 16px;">la</a></li>
	   </ul>
	
	</div>
	<!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
<!-- /. NAVIGATION ENDS
 ========================================================================= -->
<!-- INNER BANNER STARTS
 ========================================================================= -->
<div class="inner-banner-style banner-img-01">
 <div class="container">
	<div class="row">
	   <div class="col-lg-12">
		  <div class="info">
			 <h1>产品详情</h1>
			 <img src="../../images/blog/1.png" alt="" class="img-responsive blog-image">
		  </div>
		  <ol class="breadcrumb sicon">
			 <li><a href="../../index.html">首页</a></li>
			 <li><a href="../../about.html">关于我们</a></li>
			  <li><a href="../../products.html">产品列表</a></li>
			   <li><a href="#">产品详情</a></li>
		  </ol>
		  
	   </div>
	</div>
 </div>
</div>
<!-- /. INNER BANNER ENDS
 ========================================================================= -->

	<div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">基 围 虾</h3>
			<div class="about-top">
				<h3 class="subheading">Metapenaeusensis</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">基围虾</strong> 营养丰富,其肉质松软,易消化,对身体虚弱以及病后需要调养的人是极好的食物;
					虾中含有丰富的镁,能很好的保护心血管系统,它可减少血液中胆固醇含量,防止动脉硬化,同时还能扩张冠状动脉,有利于预防高血压及心肌梗死;虾肉还有补肾壮阳,通乳抗毒、养血固精、化瘀解毒、益气滋阳、通络止痛、开胃化痰等功效。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shrimp/jiweixia2.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">基围虾</strong>，学名刀额新对虾，俗称沙虾、泥虾。体色土黄到棕褐色，游泳足棕色或赤色。
					<br><br> <strong style="font-size: 18px;">基围虾</strong> 是近岸浅海虾类，常栖息于沙泥质或泥沙质底海区。该虾对环境适应能力强，喜潜伏于底质中。在我国主要分布于福建、台湾、广东和广西沿海。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">基围虾</strong>
					性温湿、味甘咸，入肾、脾经；
虾肉有补肾壮阳，通乳抗毒、养血固精、化瘀解毒、益气滋阳、通络止痛、开胃化痰等功效；
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shrimp/jiweixia.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="tittle-w3ls">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 常 见 菜 谱</h3>
			<div class="inner_sec_info_w3ls_agile">
				<div class="col-md-6 testimonials-main">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
								<li data-target="#quote-carousel" data-slide-to="3"></li>
								
							</ol>

						<div class="carousel-inner">
								<div class="item active">

									<div class="inner-testimonials">
										<img src="../../images/detail/shrimp/jiweixia3.jpg" alt=" " class="img-responsive" />
										<div class="teastmonial-info">
											<h5>干锅基围虾</h5>
											<span></span><br>
											<p class="paragraph">
												<strong style="font-size: 18x;">制作食材</strong><br>
主料：基围虾20只
<br>
辅料：豆瓣酱30克、花椒30粒、干辣椒1~2个、八角1个、大葱一棵、生姜4片、酱油20ml、料酒10ml、香菜3~5棵
<br>
<strong style="font-size: 18x;">制作流程</strong><br>
1．将基围虾的背部节与节相连的中间处，用牙签将基围虾线挑出来；<br>
2．再用剪刀将基围虾须剪去，然后洗干净；将洗好的基围虾放入盆中倒入1勺料酒拌匀；<br>
3．将葱切段、辣椒剪成块；<br>
4. 炒锅烧热放入色拉油（平时炒菜的量）烧热；<br>
5. 放入基围虾大火不停的煸炒，基围虾全部变成红色，并稍微炒干一些，盛出；<br>
6. 在锅中再放入一些油（平时炒菜的量），马上放入放八角、花椒、辣椒，小火将调料炸变色后捞出不用；<br>
7. 将豆瓣酱和葱姜放入小火炒出红油；<br>
8. 将基围虾放入炒匀，然后放半碗水，大火将汤汁完全收干吼撒香菜炒匀即可。
												
												
												</p>
										</div>
									</div>
								</div>
								
								<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/shrimp/jiweixia4.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>椒盐基围虾</h5>
																			<span>Pretzels Shrimp</span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：：基围虾(500克)
								<br>
								辅料：淀粉(35克)、椒盐(15克)、 花生油(75克)
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将虾洗净，捞起沥干水待用；
								<br>
								2．炒锅烧热，下油烧至六七成热时，将干淀粉撒在虾上，然后放入锅中，炸至色红壳脆捞起沥油；
								<br>
								3． 炒锅倒去油，接着将虾倒入锅中，撒上椒盐，颠翻几下，即出锅装盆。
								

								
																				
																				</p>
																		</div>
																	</div>
							</div>
								
							<!-- 	<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/shrimp/longxia5.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>清蒸龙虾</h5>
																				<span>Steamed Lobster</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：龙虾1只（约500克）
									<br>
									辅料：黄酒1汤匙、香醋1汤匙、酱油1汤匙、味精2克、精盐3克、葱2根、姜1块、花椒少许、鸡汤50毫升、香油1汤匙
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将龙虾宰杀后，剥下虾壳，取出虾肉切成块。葱切成段。姜切成片。
									<br>
									2．将切好的虾肉放入虾壳内，加入料酒、葱姜汁、精盐、白糖，腌溃入味。
									<br>
									3．将龙虾放入容器内，放上葱段，姜片、入蒸锅内，蒸至熟透取出。拣去葱段、姜片不用。将蒸好的龙虾放入铺有香菜的盘内即成。
								
																					
																					
																					</p>
																			</div>
																		</div>
								</div> -->
								
								
								
								<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/shrimp/jiweixia5.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>油焖基围虾</h5>
																				<span>Oil Shrimp</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：基围虾500g
									<br>
									辅料：盐、糖、葱、姜、大蒜、料酒、火腿汁、香油、花生油适量。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．鲜虾剪去虾须，用清水冲洗后浸泡一会沥干，加入盐和料酒搅匀放置15分钟
									<br>
									2．姜、葱和蒜切片
									<br>
									3．锅上火加油烧至五成热，放入姜、葱和蒜爆香，放入料酒、糖、盐
									<br>
									4. 放入洗净的基围虾翻炒，翻炒均匀入味，加入火腿汁继续翻炒<br>
									5. 加入少许的水小火焖5分钟<br>
									6. 稍浓即可，加入香油，一定要多留点汁，虾可以沾着汁吃
									 
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/shrimp/jiweixia6.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>白灼基围虾</h5>
																				<span>Boiled shrimp</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：鲜活基围虾
									<br>
									辅料：油茶叶水 、柠檬 、蒸鱼豉油 、生抽 、葱 、姜、 鲜红椒 、野山椒 、黄酒
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将鲜活的基围虾用清水洗净，放入盘中。
									<br>
									2．姜和葱分别切细丝，红椒切成红椒圈，野山椒切成小粒，备用。另外再切一些大姜片和大葱肚。
									<br>
									3．先将一锅水烧开，待其晾凉后，再烧开，此时再灼虾，这样灼出来的虾能更好地保持住虾肉的鲜度。
									<br>
									4．锅中水开后，放入大姜片和大葱肚，烹一些黄酒进去，待水再开后，捞出葱姜肚，倒入基围虾。
									<br>
									5．用笊篱稍微搅拌，约三、四分钟后，见基围虾虾壳变红，肉质将熟之时捞出，沥干水分。
									<br>
									6．调配蘸汁：葱丝和姜丝放入一个大碗中，炒锅烧热，倒入色拉油，油温6成热时倒入红教圈和野山椒粒爆香即可装入放有葱姜丝的碗中。
									<br>
									7．锅中烧热油，油稍微多一点，油温8成热时，关火，将热油刺在葱姜丝上，然后将蒸鱼豉油倒入锅中，在家一点点生抽，二者比例为四比一。<br>
									8. 将豉油汁倒入刺好油的葱姜丝红椒圈碗中，一碗蘸汁就搞定了。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
							
							
								<!-- Carousel Buttons Next/Prev -->
							<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
							<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

						</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //Testimonials -->
	
	
	
	
	<!-- PAGINATION ENDS  -->
	<div class="img_backdround-contact">
	 <div class="container">
		<div class="row ">
		   <div class="col-lg-6">
		   </div>
		   
		   <div class="col-lg-6 div_margin">
			  <div class="contact">
				 <h1  style="color:#D9534F; font-weight: 900; font-size:50px; ;">抢购方式</h1>
			  </div>
			<!--  <div class="div_line-yal-index">
				 <img class="img-responsive " src="images/blog/line-yal-red.png" alt="">
			  </div> -->
			  <div class="phone">
				 <h2 style="font-size: 28px;">1、官方淘宝店铺:</h2>
			  </div>
			  <div>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
			<!--  <img src="../../images/contact/dianpu2.jpg"> -->
			  <img src="../../images/contact/dianpu.png">
			 
			  </div>
			  <div class="div_readmore-red">
				 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">点击进入网页版店铺</a>
			  </div>
		   </div>
		   
		   
		   	   <div class="col-lg-6 " style="margin-top: 125px;">
		   		  
		   		  <div class="phone">
		   			 <h2 style="font-size: 28px;">2、官方微信小程序:</h2>
		   		  </div>
		   		  <div>
		   			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
		   		  <!-- <img src="../../images/contact/wait.jpg"> -->
		   		  <img src="../../images/contact/wxp2.png">
		   		 
		   		  </div>
		   		 <!-- <div class="div_readmore-red">
		   			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">进店去看看</a>
		   		  </div> -->
		   </div>
		   
		   
		</div>
		
	 </div>
	</div>
	
	
	
	
	
	
	<!-- Start Footer Section -->
	<footer>
	 <div class="container">
		<!-- Start Subscribe & Social Links Widget -->
		<div class="row footer-row">
		   <div class="col-lg-4 col-md-4 col-sm-4 contact-widget">
			  <div class="footer-widget mail-subscribe-widget">
				 <div class="title">联系我们</div>
				 <div class="phone" style="font-size: 18px;">(+86) 16215067776</div>
				<div>
					<h2 class="widgettitle">地址：连云港市赣榆区海头镇梁东沙村</h2>
					
				 </div>
			  </div>
		   </div>
		   <div class="col-lg-1"></div>
		   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
			<h2 class="widgettitle">了解我们</h2>
			  <ul class="usefull-links">
				 <li><a href="../../about.html" target="_blank">关于我们</a></li>
				  <li> <img class="img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">招聘信息</a></li>
				 <li><a href="../../products.html" target="_blank">产品信息</a></li>
				  <li> <img class="../../img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">寻求合作</a></li>
			    <li> <img class="img" id="pic11" src="../../images/contact/zhizhao.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);z-index:9999"/><a  onclick="showImg11()">营业执照公示</a></li>
			  </ul>
		   </div>
		   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
			 <h2 class="widgettitle">关注我们</h2>
			  <!-- <img src="images/blog/4.png" alt="" class="liner"> -->
				  <ul class="usefull-links">
						 <li> <img class="img" id="pic1" src="../../images/contact/wxp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg()">微信小程序</a></li>
						 <li><img class="img" id="pic3" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  href="https://weibo.com/u/7306941816" target="_blank">微博</a></li>
						 <li> <img class="img" id="pic4" src="../../images/contact/wxapp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg4()">微信公众号</a></li>
						 <li><img class="img" id="pic5" src="../../images/contact/douyin.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg5()">抖音</a></li>
						 <li><img class="img" id="pic6" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg6()">淘宝网店</a></li>
						 <li><img class="img" id="pic7" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg7()">京东网店</a></li>
						 <li><img class="img" id="pic8" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg8()">安卓APP</a></li>
						 <li><img class="img" id="pic9" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg9()">IOS端应用</a></li>
			</ul>
		   </div>
		   <div class="col-lg-3 col-md-3 col-sm-3 footer-pic">
			  <!-- <h2 class="widgettitle">OUR STORY</h2>
			  <img src="images/blog/4.png" alt="" class="liner"> -->
			  <div class="row">
				 <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 padding-zero">
					<img src="../../images/blog/footer1.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer2.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer3.jpg" alt="" class="img-responsive">
				 </div>
			  </div>
			  <div class="row">
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
					<img src="../../images/blog/footer4.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer5.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
					<img src="../../images/blog/footer6.jpg" alt="" class="img-responsive">
				 </div>
			  </div>
		   </div>
		</div>
		<!-- .row -->
	 </div>
	</footer>
	
	<!-- End Footer Section -->
	<!-- Start Copyright -->
	<div class="copyright-section">
	<!-- <div class="container"> -->
		<!-- <div class="row"> -->
		<!--  <div class="col-md-6">
			  <div class="footer-icons">
				 <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>			   
				 <a href="#" class="tweet"><i class="fa fa-twitter"></i></a>
				 <a href="#" class="linked"><i class="fa fa-linkedin-square"></i></a>
				 <a href="#" class="utube"><i class="fa fa-youtube"></i></a>
				 <a href="#" class="app"><i class="fa fa-whatsapp"></i></a>
				 <a href="#" class="interest"><i class="fa fa-pinterest"></i></a>
			  </div>
		   </div> -->
		   <!-- .col-md-6 -->
		  
		   <!-- <div class="col-md-6 butcher-col"> -->
			 
			   <p style="font-size: 12px; margin:0 auto; position:absolute;left: 33.5% ">站点声明：本站为渔子洲头水产品有限公司官方网站，未经允许不得用作任何商业用途。维护意见邮箱：347113619@qq.com</p><div style="width:300px;margin:0 auto; padding:20px 0;"><nobr><a rel="nofollow" href="http://beian.miit.gov.cn" target="_blank" style="color:#939393;font-size:16px; position:absolute;left: 35%">网站备案号： 苏ICP备20014160号</a><p style="font-size: 16px; margin:0 auto; position:absolute;left: 50% ">|</p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32072102010144" style="position:absolute;left: 52.5%;display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../../images/logo/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32072102010144号</p></a><nobr> 	</div>
				
		   <!-- </div> -->
		   <!-- .col-md-6 -->
		<!-- </div> -->
		<!-- .row -->
	<!-- </div> -->
	
	</div>
	
	
	
	
		
			<script>
				function showImg(){
				     $('.bg_img').show();
				     $('#pic1').show();
				 }
				 function showImg2(){
				      $('.bg_img').show();
				      $('#pic2').show();
				  }
				  function showImg3(){
				       $('.bg_img').show();
				       $('#pic3').show();
				   }
				   function showImg4(){
				        $('.bg_img').show();
				        $('#pic4').show();
				    }
					function showImg5(){
					     $('.bg_img').show();
					     $('#pic5').show();
					 }
					 function showImg6(){
					      $('.bg_img').show();
					      $('#pic6').show();
					  }
					  function showImg7(){
					       $('.bg_img').show();
					       $('#pic7').show();
					   }
					   function showImg8(){
					        $('.bg_img').show();
					        $('#pic8').show();
					    }
						function showImg9(){
						     $('.bg_img').show();
						     $('#pic9').show();
						 }
						  //招聘信息&&寻求合作
						 function showImg10(){
						      $('.bg_img').show();
						      $('#pic10').show();
						  }
						  //营业执照
						   function showImg11(){
						       $('.bg_img').show();
						       $('#pic11').show();
						   }
						  
						 
						 
						 
				 $('.bg_img').click(function(){
				     $('.bg_img').hide();
				     $('.img').hide();
				 });
				 
				 
				 
		    </script>
	
		
		<!-- js -->
		<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function ($) {
				$(".scroll").click(function (event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<script type="text/javascript" src="../../js/bootstrap.js"></script>
		
	
	
	
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Bootstrap Dropdown Hover JS -->
	<script src="../../js/dropdownhover/bootstrap-dropdownhover.min.js"></script>
	<!-- REVOLUTION JS FILES -->
	<script src="../../revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	 (Load Extensions only on Local File Systems !  
	 The following part can be removed on Server for On Demand Loading) -->
	<script src="../../revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 var tpj = jQuery;
	 
	 var revapi1078;
	 tpj(document).ready(function() {
		 if (tpj("#rev_slider_1078_1").revolution == undefined) {
			 revslider_showDoubleJqueryError("#rev_slider_1078_1");
		 } else {
			 revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
				 sliderType: "standard",
				 jsFileLocation: "revolution/js/",
				 sliderLayout: "fullscreen",
				 dottedOverlay: "none",
				 delay: 9000,
				 navigation: {
					 keyboardNavigation: "off",
					 keyboard_direction: "horizontal",
					 mouseScrollNavigation: "off",
					 mouseScrollReverse: "default",
					 onHoverStop: "off",
					 touch: {
						 touchenabled: "on",
						 swipe_threshold: 75,
						 swipe_min_touches: 1,
						 swipe_direction: "horizontal",
						 drag_block_vertical: false
					 },
					 arrows: {
						 style: "zeus",
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"><\/div> <\/div>',
						 left: {
							 h_align: "left",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 },
						 right: {
							 h_align: "right",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 }
					 },
					 bullets: {
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 style: "metis",
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 direction: "horizontal",
						 h_align: "center",
						 v_align: "bottom",
						 h_offset: 0,
						 v_offset: 30,
						 space: 5
					 }
				 },
				 viewPort: {
					 enable: true,
					 outof: "pause",
					 visible_area: "80%",
					 presize: false
				 },
				 responsiveLevels: [1240, 1024, 778, 480],
				 visibilityLevels: [1240, 1024, 778, 480],
				 gridwidth: [1240, 1024, 778, 480],
				 gridheight: [600, 600, 500, 400],
				 lazyType: "none",
				 parallax: {
					 type: "mouse",
					 origo: "slidercenter",
					 speed: 2000,
					 levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
					 type: "mouse",
				 },
				 shadow: 0,
				 spinner: "off",
				 stopLoop: "off",
				 stopAfterLoops: -1,
				 stopAtSlide: -1,
				 shuffle: "off",
				 autoHeight: "off",
				 hideThumbsOnMobile: "off",
				 hideSliderAtLimit: 0,
				 hideCaptionAtLimit: 0,
				 hideAllCaptionAtLilmit: 0,
				 debugMode: false,
				 fallbacks: {
					 simplifyAll: "off",
					 nextSlideOnWindowFocus: "off",
					 disableFocusListener: false,
				 }
			 });
		 }
	 }); /*ready*/
	</script>
	<!-- Parallax -->
	<script src="../../js/parallax/jquery.parallax-1.1.3.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
	<!-- Owl Carousel -->
	<script src="../../js/owl-carousel/owl.carousel.js" type="text/javascript"></script>
	<!-- FitVids -->
	<script src="../../js/fitvids/jquery.fitvids.js" type="text/javascript"></script>
	<!-- Isotope -->
	<script src="../../js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="../../js/isotope/custom-isotope-mansory.js" type="text/javascript"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../../js/magnific-popup/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- Counter Up -->
	<script src="../../js/counterup/waypoints.min.js"></script>
	<script src="../../js/counterup/jquery.counterup.min.js"></script>
	<!-- AJAX Contact Form -->
	<script src="../../js/contact/contact-form.js" type="text/javascript"></script>
	<!-- Donut Chart -->
	<script src="../../js/progress-bars/jquery.donutchart.js" type="text/javascript"></script>
	<!-- Custom JS -->
	<script src="../../js/custom/custom.js"></script>
	<script src="../../js/collapse/collapse.js"></script>
	<script src="../../js/pmenu/pmenu.js"></script>

	
</body>

</html>