<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="../../images/logo/logo-icon.jpg" />
	<title>渔子洲头欢迎您</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../css/all-stylesheets.css" rel="stylesheet">
	<script src="../../js/jquery-1.12.4/jquery.min.js"></script>
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="bg_img" style="background:#9F9F9F;opacity:0.8;display:none;position:fixed;width:100%;height:100%; z-index:9998"></div><!--
 ========================================================================= -->
<div id="preloader">
 <div id="status">
	<div class="spinner"></div>
 </div>
</div>
<!-- /. PRELOADER ENDS
 ========================================================================= -->
<!-- Start Top Bar
 ========================================================================= -->
<div class="top-bar">
 <div class="container">
	<div class="row">
	   <div class="col-md-9 col-sm-9 col-xs-6 contact-detail-column">
		  <!-- Start Contact Info -->
		  <ul class="contact-details">
			 <!-- <li class="hidden-xs"><b>欢迎来到渔子洲头！</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </li> -->
			<!-- <li><i class="fa fa-phone"></i> (+86) 18911581855
			 </li> -->
		  </ul>
		  <!-- End Contact Info -->
	   </div>
	   <!-- .col-md-6 -->
	   <div class="col-md-3 col-sm-3 col-xs-6">
		  <!-- Start Social Links -->
		  <ul class="social-list">
			 <!-- <li>
				<a class="linkdin itl-tooltip" data-placement="bottom" title="" href="#"><i class="fa fa-user" aria-hidden="true"></i> Hello Visitor !</a>
			 </li> -->
		  </ul>
		  <!-- End Social Links -->
	   </div>
	   <!-- .col-md-6 -->
	</div>
	<!-- .row -->
 </div>
 <!-- .container -->
</div>
<!-- .top-bar -->
<!-- End Top Bar
 ========================================================================= -->
<!-- NAVIGATION STARTS
 ========================================================================= -->
<nav class="navbar navbar-default navigation normal">
 <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	   <span class="sr-only">Toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand visible-xs" href="../../images/logo/logo.jpg"  target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   <ul class="nav navbar-nav">
		  <li class="pull-left"><a class="navbar-brand hidden-xs" href="../../images/logo/logo.jpg " target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a></li>
	   </ul>
	   
	      <ul class="nav navbar-nav">
	   			  <br />
	   			 <li ><b>渔子洲头水产品有限公司</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   			 </li>
	   			 <li><i class="fa fa-phone"></i> (+86) 16215067776
	   			 </li>
	   </ul>

	   <ul class="nav navbar-nav navbar-right">
		 
		  <!-- <li><a href="cart.html">购物车</a></li> -->
		  <li><a href ="javascript:return false;" onclick="return false;" style="color: #FFFFFF; font-size: 16px;">la</a></li>
	   </ul>
	
	</div>
	<!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
<!-- /. NAVIGATION ENDS
 ========================================================================= -->
<!-- INNER BANNER STARTS
 ========================================================================= -->
<div class="inner-banner-style banner-img-01">
 <div class="container">
	<div class="row">
	   <div class="col-lg-12">
		  <div class="info">
			 <h1>产品详情</h1>
			 <img src="../../images/blog/1.png" alt="" class="img-responsive blog-image">
		  </div>
		  <ol class="breadcrumb sicon">
			 <li><a href="../../index.html">首页</a></li>
			 <li><a href="../../about.html">关于我们</a></li>
			  <li><a href="../../products.html">产品列表</a></li>
			   <li><a href="#">产品详情</a></li>
		  </ol>
		  
	   </div>
	</div>
 </div>
</div>
<!-- /. INNER BANNER ENDS
 ========================================================================= -->

	<div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">小 龙 虾</h3>
			<div class="about-top">
				<h3 class="subheading">Palinuridae</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">小龙虾</strong>都是高蛋白、低脂肪的，蛋白含量占总体的16%～20%左右，
					脂肪含量不到0.2%。而且所含的脂肪主要是由不饱合脂肪酸组成的。虾肉内锌、碘、硒等微量元素的含量要高于其它食品。 龙虾不仅是肉洁白细嫩，味道鲜美，高蛋白，低脂肪，营养丰富。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/shrimp/longxia.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">小龙虾</strong>，也称克氏原螯虾、红螯虾和淡水小龙虾。整体颜色包括红色、红棕色、粉红色。背部是酱暗红色，两侧是粉红色，带有橘黄色或白色的斑点。
					<br><br> <strong style="font-size: 18px;">小龙虾 </strong>，通常栖息于永久性溪流和沼泽，临时的栖息地，包括沟渠和池塘。生活在水体较浅、水草丰盛的湿地、湖泊和河沟内。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">小龙虾</strong>
					中镁的含量很高，食用龙虾有保护心血管系统的功效，不仅能降低血液中胆固醇的含量，预防动脉硬化的发生，而且能扩张冠状动脉，对预防高血压及心肌梗死也非常有效。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/shrimp/longxia2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="tittle-w3ls">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 常 见 菜 谱</h3>
			<div class="inner_sec_info_w3ls_agile">
				<div class="col-md-6 testimonials-main">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
								<li data-target="#quote-carousel" data-slide-to="3"></li>
								
							</ol>

						<div class="carousel-inner">
								<div class="item active">

									<div class="inner-testimonials">
										<img src="../../images/detail/shrimp/longxia3.jpg" alt=" " class="img-responsive" />
										<div class="teastmonial-info">
											<h5>十三香龙虾(盱眙龙虾)</h5>
											<span>Thirteen Fragrant Lobster</span><br>
											<p class="paragraph">
												<strong style="font-size: 18x;">制作食材</strong><br>
主料：小龙虾 200g
<br>
辅料：五香粉 50g、
香菜 20g、
蒜蓉 50g、
葱丝 10g、
姜丝 10g、
料酒 20g、
油 10g、
生抽 20g、
盐 10g、
鸡精 5g
<br>
<strong style="font-size: 18x;">制作流程</strong><br>
1．小龙虾用清水洗净，香菜切段。<br>
2．锅中倒油，放入葱丝、姜丝、爆香后放入小龙虾。<br>
3．倒入五香粉、料酒，翻炒均匀后加入水，放盐、鸡精、生抽，大火收汁后，出锅撒上香菜即可。
												
												
												</p>
										</div>
									</div>
								</div>
								
								<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/shrimp/longxia4.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>蒜泥龙虾</h5>
																			<span>Garlic Lobster</span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：龙虾3斤
								<br>
								辅料：大蒜、味精、	糖、	盐、	啤酒1听、食用油
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．把蒜切泥状，或者用绞肉机搅碎。尽量切碎
								<br>
								2．锅内预热倒入大半碗食用油，倒入蒜泥熬制1分钟左右。
								<br>
								3．加入3分之一蒜泥那么多的糖。加适量盐，加少许醋提鲜
								<br>
								4．倒入龙虾。倒入一听雪花啤酒。加少许水。大火烧制。等虾味出来，大约10分钟左右即可。加入鸡精即可。

								
																				
																				</p>
																		</div>
																	</div>
							</div>
								
							<!-- 	<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/shrimp/longxia5.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>清蒸龙虾</h5>
																				<span>Steamed Lobster</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：龙虾1只（约500克）
									<br>
									辅料：黄酒1汤匙、香醋1汤匙、酱油1汤匙、味精2克、精盐3克、葱2根、姜1块、花椒少许、鸡汤50毫升、香油1汤匙
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将龙虾宰杀后，剥下虾壳，取出虾肉切成块。葱切成段。姜切成片。
									<br>
									2．将切好的虾肉放入虾壳内，加入料酒、葱姜汁、精盐、白糖，腌溃入味。
									<br>
									3．将龙虾放入容器内，放上葱段，姜片、入蒸锅内，蒸至熟透取出。拣去葱段、姜片不用。将蒸好的龙虾放入铺有香菜的盘内即成。
								
																					
																					
																					</p>
																			</div>
																		</div>
								</div> -->
								
								
								
								<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/shrimp/longxia7.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>麻辣小龙虾</h5>
																				<span>Spicy Lobster</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：小龙虾200克
									<br>
									辅料：干辣椒20克、花椒20克、葱2根、姜4片、香叶4片、大蒜5瓣、八角1个、桂皮1根、生抽45ml、老抽15ml、红糖8克、盐5克、高度白酒30ml。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将小龙虾洗净，葱姜蒜切碎，辣椒剪块。
									<br>
									2．锅中加入比平时炒菜稍多的油，烧到3成热，放入辣椒、花椒、葱、姜、蒜煸出香味。
									<br>
									3．放入洗净的小龙虾翻炒均匀，然后淋入白酒、生抽、老抽，加入白糖炒出香味。
									<br>
									4. 看到小龙虾卷曲后，放入香叶、八角、桂皮等香料，淋入200ml的清水，加盖用中火焖8分钟，最后加入适量盐调味，火力调大将汤汁稍微收干即可。
									 
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/shrimp/longxia6.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>冰镇小龙虾</h5>
																				<span>Spicy Lobster</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：鲜活龙虾 2斤
									<br>
									辅料：油 一勺、
花椒 一大把、
白胡椒粒 一小把、
香叶 一片、
五香粉 一勺、
生姜 适量、
黄酒 一碗、
白酒 半碗、
鲜酱油 3勺、
糖 两小勺、
盐 少许、
水 适量、
冰块 适量、
（豆蔻）、
（紫苏）
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．鲜活龙虾洗净待用，多用刷子刷刷，有条件可以在放了盐和白醋的清水里养个把小时去除土腥味。
									<br>
									2．油热后小火煎一下花椒、生姜、五香粉、香叶，爆出香味后，倒入可以漫过龙虾的清水。
									<br>
									3．水中放入白胡椒粒、黄酒、鲜酱油、糖、盐、白酒。水开后尝尝味道，盐的量比平常烧菜要多，要感觉到明显的咸味、白酒香味和淡淡的香料味。
									<br>
									4．卤汁大火烧开后，小火略熬一下，开大火水开后放入龙虾。
									<br>
									5．盖上盖子大火煮15分钟后熄火，这时候的虾还不够入味。
									<br>
									6．烧好后立马拿出来放入冰块里，这样龙虾才能鲜嫩弹牙。而冰镇后的龙虾也应该继续放在冰镇的卤汁里继续浸泡并冷藏几个小时（以8个小时为参考），不然不可能入味。
									<br>
									7．冰块卤汁64开来浸泡龙虾，而且要多放两片香叶在冰卤汁里，还会加豆蔻、紫苏和冰糖增加香味。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
							
							
								<!-- Carousel Buttons Next/Prev -->
							<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
							<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

						</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //Testimonials -->
	
	
	
	
	<!-- PAGINATION ENDS  -->
	<div class="img_backdround-contact">
	 <div class="container">
		<div class="row ">
		   <div class="col-lg-6">
		   </div>
		   
		   <div class="col-lg-6 div_margin">
			  <div class="contact">
				 <h1  style="color:#D9534F; font-weight: 900; font-size:50px; ;">抢购方式</h1>
			  </div>
			<!--  <div class="div_line-yal-index">
				 <img class="img-responsive " src="images/blog/line-yal-red.png" alt="">
			  </div> -->
			  <div class="phone">
				 <h2 style="font-size: 28px;">1、官方淘宝店铺:</h2>
			  </div>
			  <div>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
			<!--  <img src="../../images/contact/dianpu2.jpg"> -->
			  <img src="../../images/contact/dianpu.png">
			 
			  </div>
			  <div class="div_readmore-red">
				 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">点击进入网页版店铺</a>
			  </div>
		   </div>
		   
		   
		   	   <div class="col-lg-6 " style="margin-top: 125px;">
		   		  
		   		  <div class="phone">
		   			 <h2 style="font-size: 28px;">2、官方微信小程序:</h2>
		   		  </div>
		   		  <div>
		   			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
		   		  <!-- <img src="../../images/contact/wait.jpg"> -->
		   		  <img src="../../images/contact/wxp2.png">
		   		 
		   		  </div>
		   		 <!-- <div class="div_readmore-red">
		   			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">进店去看看</a>
		   		  </div> -->
		   </div>
		   
		   
		</div>
		
	 </div>
	</div>
	
	
	
	
	
	
	<!-- Start Footer Section -->
	<footer>
	 <div class="container">
		<!-- Start Subscribe & Social Links Widget -->
		<div class="row footer-row">
		   <div class="col-lg-4 col-md-4 col-sm-4 contact-widget">
			  <div class="footer-widget mail-subscribe-widget">
				 <div class="title">联系我们</div>
				 <div class="phone" style="font-size: 18px;">(+86) 16215067776</div>
				<div>
					<h2 class="widgettitle">地址：连云港市赣榆区海头镇梁东沙村</h2>
					
				 </div>
			  </div>
		   </div>
		   <div class="col-lg-1"></div>
		   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
			<h2 class="widgettitle">了解我们</h2>
			  <ul class="usefull-links">
				 <li><a href="../../about.html" target="_blank">关于我们</a></li>
				  <li> <img class="img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">招聘信息</a></li>
				 <li><a href="../../products.html" target="_blank">产品信息</a></li>
				  <li> <img class="../../img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">寻求合作</a></li>
			    <li> <img class="img" id="pic11" src="../../images/contact/zhizhao.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);z-index:9999"/><a  onclick="showImg11()">营业执照公示</a></li>
			  </ul>
		   </div>
		   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
			 <h2 class="widgettitle">关注我们</h2>
			  <!-- <img src="images/blog/4.png" alt="" class="liner"> -->
				  <ul class="usefull-links">
						 <li> <img class="img" id="pic1" src="../../images/contact/wxp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg()">微信小程序</a></li>
						 <li><img class="img" id="pic3" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  href="https://weibo.com/u/7306941816" target="_blank">微博</a></li>
						 <li> <img class="img" id="pic4" src="../../images/contact/wxapp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg4()">微信公众号</a></li>
						 <li><img class="img" id="pic5" src="../../images/contact/douyin.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg5()">抖音</a></li>
						 <li><img class="img" id="pic6" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg6()">淘宝网店</a></li>
						 <li><img class="img" id="pic7" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg7()">京东网店</a></li>
						 <li><img class="img" id="pic8" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg8()">安卓APP</a></li>
						 <li><img class="img" id="pic9" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg9()">IOS端应用</a></li>
			</ul>
		   </div>
		   <div class="col-lg-3 col-md-3 col-sm-3 footer-pic">
			  <!-- <h2 class="widgettitle">OUR STORY</h2>
			  <img src="images/blog/4.png" alt="" class="liner"> -->
			  <div class="row">
				 <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 padding-zero">
					<img src="../../images/blog/footer1.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer2.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer3.jpg" alt="" class="img-responsive">
				 </div>
			  </div>
			  <div class="row">
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
					<img src="../../images/blog/footer4.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer5.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
					<img src="../../images/blog/footer6.jpg" alt="" class="img-responsive">
				 </div>
			  </div>
		   </div>
		</div>
		<!-- .row -->
	 </div>
	</footer>
	
	<!-- End Footer Section -->
	<!-- Start Copyright -->
	<div class="copyright-section">
	<!-- <div class="container"> -->
		<!-- <div class="row"> -->
		<!--  <div class="col-md-6">
			  <div class="footer-icons">
				 <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>			   
				 <a href="#" class="tweet"><i class="fa fa-twitter"></i></a>
				 <a href="#" class="linked"><i class="fa fa-linkedin-square"></i></a>
				 <a href="#" class="utube"><i class="fa fa-youtube"></i></a>
				 <a href="#" class="app"><i class="fa fa-whatsapp"></i></a>
				 <a href="#" class="interest"><i class="fa fa-pinterest"></i></a>
			  </div>
		   </div> -->
		   <!-- .col-md-6 -->
		  
		   <!-- <div class="col-md-6 butcher-col"> -->
			 
			   <p style="font-size: 12px; margin:0 auto; position:absolute;left: 33.5% ">站点声明：本站为渔子洲头水产品有限公司官方网站，未经允许不得用作任何商业用途。维护意见邮箱：347113619@qq.com</p><div style="width:300px;margin:0 auto; padding:20px 0;"><nobr><a rel="nofollow" href="http://beian.miit.gov.cn" target="_blank" style="color:#939393;font-size:16px; position:absolute;left: 35%">网站备案号： 苏ICP备20014160号</a><p style="font-size: 16px; margin:0 auto; position:absolute;left: 50% ">|</p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32072102010144" style="position:absolute;left: 52.5%;display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../../images/logo/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32072102010144号</p></a><nobr> 	</div>
				
		   <!-- </div> -->
		   <!-- .col-md-6 -->
		<!-- </div> -->
		<!-- .row -->
	<!-- </div> -->
	
	</div>
	
	
	
	
		
			<script>
				function showImg(){
				     $('.bg_img').show();
				     $('#pic1').show();
				 }
				 function showImg2(){
				      $('.bg_img').show();
				      $('#pic2').show();
				  }
				  function showImg3(){
				       $('.bg_img').show();
				       $('#pic3').show();
				   }
				   function showImg4(){
				        $('.bg_img').show();
				        $('#pic4').show();
				    }
					function showImg5(){
					     $('.bg_img').show();
					     $('#pic5').show();
					 }
					 function showImg6(){
					      $('.bg_img').show();
					      $('#pic6').show();
					  }
					  function showImg7(){
					       $('.bg_img').show();
					       $('#pic7').show();
					   }
					   function showImg8(){
					        $('.bg_img').show();
					        $('#pic8').show();
					    }
						function showImg9(){
						     $('.bg_img').show();
						     $('#pic9').show();
						 }
						  //招聘信息&&寻求合作
						 function showImg10(){
						      $('.bg_img').show();
						      $('#pic10').show();
						  }
						  //营业执照
						   function showImg11(){
						       $('.bg_img').show();
						       $('#pic11').show();
						   }
						  
						 
						 
						 
				 $('.bg_img').click(function(){
				     $('.bg_img').hide();
				     $('.img').hide();
				 });
				 
				 
				 
		    </script>
	
		
		<!-- js -->
		<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function ($) {
				$(".scroll").click(function (event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<script type="text/javascript" src="../../js/bootstrap.js"></script>
		
	
	
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Bootstrap Dropdown Hover JS -->
	<script src="../../js/dropdownhover/bootstrap-dropdownhover.min.js"></script>
	<!-- REVOLUTION JS FILES -->
	<script src="../../revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	 (Load Extensions only on Local File Systems !  
	 The following part can be removed on Server for On Demand Loading) -->
	<script src="../../revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 var tpj = jQuery;
	 
	 var revapi1078;
	 tpj(document).ready(function() {
		 if (tpj("#rev_slider_1078_1").revolution == undefined) {
			 revslider_showDoubleJqueryError("#rev_slider_1078_1");
		 } else {
			 revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
				 sliderType: "standard",
				 jsFileLocation: "revolution/js/",
				 sliderLayout: "fullscreen",
				 dottedOverlay: "none",
				 delay: 9000,
				 navigation: {
					 keyboardNavigation: "off",
					 keyboard_direction: "horizontal",
					 mouseScrollNavigation: "off",
					 mouseScrollReverse: "default",
					 onHoverStop: "off",
					 touch: {
						 touchenabled: "on",
						 swipe_threshold: 75,
						 swipe_min_touches: 1,
						 swipe_direction: "horizontal",
						 drag_block_vertical: false
					 },
					 arrows: {
						 style: "zeus",
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"><\/div> <\/div>',
						 left: {
							 h_align: "left",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 },
						 right: {
							 h_align: "right",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 }
					 },
					 bullets: {
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 style: "metis",
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 direction: "horizontal",
						 h_align: "center",
						 v_align: "bottom",
						 h_offset: 0,
						 v_offset: 30,
						 space: 5
					 }
				 },
				 viewPort: {
					 enable: true,
					 outof: "pause",
					 visible_area: "80%",
					 presize: false
				 },
				 responsiveLevels: [1240, 1024, 778, 480],
				 visibilityLevels: [1240, 1024, 778, 480],
				 gridwidth: [1240, 1024, 778, 480],
				 gridheight: [600, 600, 500, 400],
				 lazyType: "none",
				 parallax: {
					 type: "mouse",
					 origo: "slidercenter",
					 speed: 2000,
					 levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
					 type: "mouse",
				 },
				 shadow: 0,
				 spinner: "off",
				 stopLoop: "off",
				 stopAfterLoops: -1,
				 stopAtSlide: -1,
				 shuffle: "off",
				 autoHeight: "off",
				 hideThumbsOnMobile: "off",
				 hideSliderAtLimit: 0,
				 hideCaptionAtLimit: 0,
				 hideAllCaptionAtLilmit: 0,
				 debugMode: false,
				 fallbacks: {
					 simplifyAll: "off",
					 nextSlideOnWindowFocus: "off",
					 disableFocusListener: false,
				 }
			 });
		 }
	 }); /*ready*/
	</script>
	<!-- Parallax -->
	<script src="../../js/parallax/jquery.parallax-1.1.3.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
	<!-- Owl Carousel -->
	<script src="../../js/owl-carousel/owl.carousel.js" type="text/javascript"></script>
	<!-- FitVids -->
	<script src="../../js/fitvids/jquery.fitvids.js" type="text/javascript"></script>
	<!-- Isotope -->
	<script src="../../js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="../../js/isotope/custom-isotope-mansory.js" type="text/javascript"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../../js/magnific-popup/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- Counter Up -->
	<script src="../../js/counterup/waypoints.min.js"></script>
	<script src="../../js/counterup/jquery.counterup.min.js"></script>
	<!-- AJAX Contact Form -->
	<script src="../../js/contact/contact-form.js" type="text/javascript"></script>
	<!-- Donut Chart -->
	<script src="../../js/progress-bars/jquery.donutchart.js" type="text/javascript"></script>
	<!-- Custom JS -->
	<script src="../../js/custom/custom.js"></script>
	<script src="../../js/collapse/collapse.js"></script>
	<script src="../../js/pmenu/pmenu.js"></script>

	
</body>

</html>