<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="../../images/logo/logo-icon.jpg" />
	<title>渔子洲头欢迎您</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../css/all-stylesheets.css" rel="stylesheet">
	<script src="../../js/jquery-1.12.4/jquery.min.js"></script>
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="bg_img" style="background:#9F9F9F;opacity:0.8;display:none;position:fixed;width:100%;height:100%; z-index:9998"></div><!--
 ========================================================================= -->
<div id="preloader">
 <div id="status">
	<div class="spinner"></div>
 </div>
</div>
<!-- /. PRELOADER ENDS
 ========================================================================= -->
<!-- Start Top Bar
 ========================================================================= -->
<div class="top-bar">
 <div class="container">
	<div class="row">
	   <div class="col-md-9 col-sm-9 col-xs-6 contact-detail-column">
		  <!-- Start Contact Info -->
		  <ul class="contact-details">
			 <!-- <li class="hidden-xs"><b>欢迎来到渔子洲头！</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </li> -->
			<!-- <li><i class="fa fa-phone"></i> (+86) 18911581855
			 </li> -->
		  </ul>
		  <!-- End Contact Info -->
	   </div>
	   <!-- .col-md-6 -->
	   <div class="col-md-3 col-sm-3 col-xs-6">
		  <!-- Start Social Links -->
		  <ul class="social-list">
			 <!-- <li>
				<a class="linkdin itl-tooltip" data-placement="bottom" title="" href="#"><i class="fa fa-user" aria-hidden="true"></i> Hello Visitor !</a>
			 </li> -->
		  </ul>
		  <!-- End Social Links -->
	   </div>
	   <!-- .col-md-6 -->
	</div>
	<!-- .row -->
 </div>
 <!-- .container -->
</div>
<!-- .top-bar -->
<!-- End Top Bar
 ========================================================================= -->
<!-- NAVIGATION STARTS
 ========================================================================= -->
<nav class="navbar navbar-default navigation normal">
 <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	   <span class="sr-only">Toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand visible-xs" href="../../images/logo/logo.jpg"  target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   <ul class="nav navbar-nav">
		  <li class="pull-left"><a class="navbar-brand hidden-xs" href="../../images/logo/logo.jpg " target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a></li>
	   </ul>
	   
	      <ul class="nav navbar-nav">
	   			  <br />
	   			 <li ><b>渔子洲头水产品有限公司</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   			 </li>
	   			 <li><i class="fa fa-phone"></i> (+86) 16215067776
	   			 </li>
	   </ul>

	   <ul class="nav navbar-nav navbar-right">
		 
		  <!-- <li><a href="cart.html">购物车</a></li> -->
		  <li><a href ="javascript:return false;" onclick="return false;" style="color: #FFFFFF; font-size: 16px;">la</a></li>
	   </ul>
	
	</div>
	<!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
<!-- /. NAVIGATION ENDS
 ========================================================================= -->
<!-- INNER BANNER STARTS
 ========================================================================= -->
<div class="inner-banner-style banner-img-01">
 <div class="container">
	<div class="row">
	   <div class="col-lg-12">
		  <div class="info">
			 <h1>产品详情</h1>
			 <img src="../../images/blog/1.png" alt="" class="img-responsive blog-image">
		  </div>
		  <ol class="breadcrumb sicon">
			 <li><a href="../../index.html">首页</a></li>
			 <li><a href="../../about.html">关于我们</a></li>
			  <li><a href="../../products.html">产品列表</a></li>
			   <li><a href="#">产品详情</a></li>
		  </ol>
		  
	   </div>
	</div>
 </div>
</div>
<!-- /. INNER BANNER ENDS
 ========================================================================= -->

	<div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">多 宝 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Scophthalmus maximus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">多宝鱼</strong>
					肌肉丰厚白嫩、骨刺少、营养组成全面，配比合理，鳍边和皮下含有十分丰富的胶原蛋白质，
					鱼肉中所含人体必需氨基酸既齐全又平衡良好，其中精氨酸和赖氨酸含量很高。
					据营养专家测算分析，多宝鱼的脑、眼和肌肉中DHA和EPA（脑黄金）含量也很高。
					此外，还含有多种维生素和钾、锌、锰、镁、铁、钙等多种矿物元素及粘多糖等有益于人体健康的微量成分。这些营养物质的含量均高于家禽和淡水鱼类，而且更容易被人体所吸收。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/duobaoyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">多宝鱼</strong>是大菱鲆的英译名兼商品名，又叫欧洲比目鱼。其身体扁平呈菱形，两眼位于头部左侧，背面呈青褐色，该鱼能随生活环境和底质的变化而改变体色的深浅。
					<br><br> <strong style="font-size: 18px;">多宝鱼</strong>自然分布于大西洋东侧欧洲沿岸，常见于北海和波罗的海，黑海和地中海沿岸也有分布，主要分布区在北海，栖息于水深20-70m。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">多宝鱼</strong>
					
					性凉味甘，可用来祛脂降压、疗头痛头晕、明目和胃；有暖胃和中、平降肝阳、祛风、治痹、截疟、益肠明眼目之功效；主治虚劳、风虚头痛、肝阳上亢、高血压、头痛、久疟。
					
					
					
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/duobaoyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="tittle-w3ls">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 常 见 菜 谱</h3>
			<div class="inner_sec_info_w3ls_agile">
				<div class="col-md-6 testimonials-main">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
								<li data-target="#quote-carousel" data-slide-to="3"></li>
									<li data-target="#quote-carousel" data-slide-to="4"></li>
								<li data-target="#quote-carousel" data-slide-to="5"></li>
								
						</ol>

						<div class="carousel-inner">
								<div class="item active">

									<div class="inner-testimonials">
										<img src="../../images/detail/fish/duobaoyu3.jpg" alt=" " class="img-responsive" />
										<div class="teastmonial-info">
											<h5>葱油多宝鱼</h5>
											<span></span><br>
											<p class="paragraph">
												<strong style="font-size: 18x;">制作食材</strong><br>
主料：多宝鱼1条（1斤左右）
<br>
辅料：姜丝、葱花、盐、鸡精、料酒、调味汁、白胡椒粉。
<br>
<strong style="font-size: 18x;">制作流程</strong><br>
1．将杀好的多宝鱼清洗干净，放入大的鱼盘中，两面撒上盐，腌制10分钟；<br>
2．鱼身上铺姜丝去姜，洒少许料酒，倒少许调味汁或蒸鱼豉油，鸡精，入开水锅中大火蒸5分钟。<br>
3．将蒸好的鱼取出，拣去姜丝，撒上葱花再倒入少许调味汁，淋上烧的冒烟的热油，再洒少许白胡椒粉即可。
												
												
												</p>
										</div>
									</div>
								</div>
								
								<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/fish/duobaoyu4.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>水煮多宝鱼</h5>
																			<span></span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：多宝鱼
								<br>
								辅料：甜玉米	1根、
香菜	1把、
洋葱	1个、
西红柿	2个、
柠檬	1个、
毛豆	1把、
大蒜	3瓣、
八角	3瓣、
桂皮	1根
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．熬鱼骨汤：把鱼骨、西红柿瓤、玉米棒、大蒜、洋葱、桂皮、八角、香菜茎都扔到一口锅内，加入足够的冷水，小火煮30分钟
								<br>
								2．熬鱼骨汤：加最后调味料，柠檬汁+盐+黑胡椒。柠檬个头不一样，汁水有多有少，请自行尝试，根据自行喜好尝试；如果太酸可以加点黄油。
								<br>
								3．烹饪配菜：把之前熟了的玉米粒、毛豆粒、西红柿丁，加上香菜，加鱼汤加热，根据自行口味适当加些盐即可
						
								
																				
																				
																				</p>
																		</div>
																	</div>
							</div>
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/duobaoyu5.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>红烧多宝鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：多宝鱼
									<br>
									辅料：姜,蒜,白酒,糖,盐,酱油,花椒,八角,白酒,醋
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．煎鱼.煎鱼前先用姜蹭一下锅,然后放鱼可以防止鱼皮粘锅,还有一个诀窍就是凉油下锅,而且不要急着翻面,等一面煎好再翻面.一面的时间大约是4分钟
									<br>
									2．两面都煎好后,倒白酒,白酒一定要够量,注意啊,是白酒.我差不多放了1两白酒.然后再放些醋.这个步骤是为了去鱼腥.接着倒入酱油,放两个八角和10几粒花椒.然后添水,水要没过鱼身.水开后放入盐和糖,糖的量也要多,我放了3大勺,这样的鱼做出来非常的鲜.最后放入4,5片姜.
									<br>
									3．大火等汁快要收完时放入蒜片(炖鱼的时候中间翻个各)闷上2分种,然后关火
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/duobaoyu6.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>孜然烤多宝鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：多宝鱼
									<br>
									辅料：盐 料酒 孜然粉 辣椒粉 洋葱 花生油
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．把 多宝鱼去除内脏洗净，在鱼身上切上十字刀。把多宝鱼用盐和料酒均匀抹上一层，腌制10分钟以上
									<br>
									2．洋葱切丝
									<br>
									3．把烤盘上垫上锡纸，刷上一层油，上面铺上洋葱丝
									<br>
									4．把多宝鱼两面都均匀的刷上花生油,均匀的撒上孜然粉和辣椒粉<br>
									5. 用锡箔纸把多宝鱼包好<br>
									6. 烤箱上下功能200度预热5分钟，放入烤盘中层，烤15分钟拿出<br>
									7. 打开锡箔纸撒上辣椒粉和孜然粉，把多宝鱼放在烤架上,用250°再烤10分钟左右即可
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/duobaoyu7.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>清蒸多宝鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：新鲜多宝鱼一条（1斤半左右）
									<br>
									辅料：葱1根、姜1块、盐1茶匙（5克）、料酒1汤匙（15ml）、蒸鱼豉油10克、油、红椒丝适量。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．反复用清水冲洗鱼，直至彻底干净，不留血水，并把姜一半切丝，一半切片，葱白切成小段，葱绿切丝或切沫
									<br>
									2．用刀在鱼身上斜切3个花刀，这是为了让鱼肉更快熟和入味。用盐和料酒将鱼身及鱼腹内抹遍，腌制10分钟。
									<br>
									3．蒸锅中放入适量水烧开，将适量姜片、葱段放在鱼身上，将鱼放入蒸锅。
									<br>
									4．大火蒸7-8分钟，辨别鱼是否蒸熟，可以用筷子从鱼身上刺过，如果筷子不费劲地穿过鱼身，证明火候刚刚好。
									
									<br>
									5. 蒸鱼期间将大葱或香葱切细丝，越细越好，切好的葱丝放入凉水中浸泡片刻，洗去粘液，浸泡冲洗后的葱丝会自然卷翘。
									<br>
									6. 鱼蒸好以后，扔去姜葱，倒掉蒸鱼时渗出的水。将切好的葱丝和红椒丝均匀摆在鱼身上。
									<br>
									7. 炒锅烧热2汤匙的油，8成热（油冒烟）时关火，将油刺在葱丝上。
										<br>
									8. 趁烧油的锅还有余温，将蒸鱼豉油倒入，再加入少量的水。 	
									<br>
								9. 最后，将烧热的豉油水顺着蒸鱼鱼盘的边缘倒进去，用适量的香菜围边即可。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
								
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/duobaoyu8.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>香煎多宝鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：多宝鱼1条约750克
									<br>
									辅料：茶油180克，葱、姜、蒜瓣各10克，豆瓣酱15克，干椒段5克，蚝油5克，盐6克，味精5克，高汤20克，胡椒粉3克，香油5克，白糖3克，米酒10克。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．把多宝鱼开膛去内脏洗净,打上十字花刀,用葱5克、姜、米酒、盐腌制10分钟,将豆瓣酱、蚝油、味精、白糖、胡椒粉、高汤调成芡汁,蒜瓣、葱5克切成末待用。
									<br>
									2．锅中放入茶油烧至五成热，放入腌制好的多宝鱼小火煎成两面呈金黄色,出锅待用。
									<br>
									3．锅放底油烧至六成热放入蒜末、干椒段大火炒香，放入调好的芡汁,再放入煎好的多宝鱼，用小火收干芡汁，淋上香油，撒上香葱末装盘即成。
									
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
								
							
							
								<!-- Carousel Buttons Next/Prev -->
							<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
							<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

						</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //Testimonials -->
	
	


<!-- PAGINATION ENDS  -->
<div class="img_backdround-contact">
 <div class="container">
	<div class="row ">
	   <div class="col-lg-6">
	   </div>
	   
	   <div class="col-lg-6 div_margin">
		  <div class="contact">
			 <h1  style="color:#D9534F; font-weight: 900; font-size:50px; ;">抢购方式</h1>
		  </div>
		<!--  <div class="div_line-yal-index">
			 <img class="img-responsive " src="images/blog/line-yal-red.png" alt="">
		  </div> -->
		  <div class="phone">
			 <h2 style="font-size: 28px;">1、官方淘宝店铺:</h2>
		  </div>
		  <div>
			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
		<!--  <img src="../../images/contact/dianpu2.jpg"> -->
		  <img src="../../images/contact/dianpu.png">
		 
		  </div>
		  <div class="div_readmore-red">
			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">点击进入网页版店铺</a>
		  </div>
	   </div>
	   
	   
	   	   <div class="col-lg-6 " style="margin-top: 125px;">
	   		  
	   		  <div class="phone">
	   			 <h2 style="font-size: 28px;">2、官方微信小程序:</h2>
	   		  </div>
	   		  <div>
	   			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
	   		  <!-- <img src="../../images/contact/wait.jpg"> -->
	   		  <img src="../../images/contact/wxp2.png">
	   		 
	   		  </div>
	   		 <!-- <div class="div_readmore-red">
	   			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">进店去看看</a>
	   		  </div> -->
	   </div>
	   
	   
	</div>
	
 </div>
</div>






<!-- Start Footer Section -->
<footer>
 <div class="container">
	<!-- Start Subscribe & Social Links Widget -->
	<div class="row footer-row">
	   <div class="col-lg-4 col-md-4 col-sm-4 contact-widget">
		  <div class="footer-widget mail-subscribe-widget">
			 <div class="title">联系我们</div>
			 <div class="phone" style="font-size: 18px;">(+86) 16215067776</div>
			<div>
				<h2 class="widgettitle">地址：连云港市赣榆区海头镇梁东沙村</h2>
				
			 </div>
		  </div>
	   </div>
	   <div class="col-lg-1"></div>
	   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
		<h2 class="widgettitle">了解我们</h2>
		  <ul class="usefull-links">
			 <li><a href="../../about.html" target="_blank">关于我们</a></li>
			  <li> <img class="img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">招聘信息</a></li>
			 <li><a href="../../products.html" target="_blank">产品信息</a></li>
			  <li> <img class="../../img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">寻求合作</a></li>
		    <li> <img class="img" id="pic11" src="../../images/contact/zhizhao.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);z-index:9999"/><a  onclick="showImg11()">营业执照公示</a></li>
		  </ul>
	   </div>
	   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
		 <h2 class="widgettitle">关注我们</h2>
		  <!-- <img src="images/blog/4.png" alt="" class="liner"> -->
			  <ul class="usefull-links">
					 <li> <img class="img" id="pic1" src="../../images/contact/wxp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg()">微信小程序</a></li>
					 <li><img class="img" id="pic3" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  href="https://weibo.com/u/7306941816" target="_blank">微博</a></li>
					 <li> <img class="img" id="pic4" src="../../images/contact/wxapp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg4()">微信公众号</a></li>
					 <li><img class="img" id="pic5" src="../../images/contact/douyin.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg5()">抖音</a></li>
					 <li><img class="img" id="pic6" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg6()">淘宝网店</a></li>
					 <li><img class="img" id="pic7" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg7()">京东网店</a></li>
					 <li><img class="img" id="pic8" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg8()">安卓APP</a></li>
					 <li><img class="img" id="pic9" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg9()">IOS端应用</a></li>
		</ul>
	   </div>
	   <div class="col-lg-3 col-md-3 col-sm-3 footer-pic">
		  <!-- <h2 class="widgettitle">OUR STORY</h2>
		  <img src="images/blog/4.png" alt="" class="liner"> -->
		  <div class="row">
			 <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 padding-zero">
				<img src="../../images/blog/footer1.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer2.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer3.jpg" alt="" class="img-responsive">
			 </div>
		  </div>
		  <div class="row">
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
				<img src="../../images/blog/footer4.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer5.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
				<img src="../../images/blog/footer6.jpg" alt="" class="img-responsive">
			 </div>
		  </div>
	   </div>
	</div>
	<!-- .row -->
 </div>
</footer>

<!-- End Footer Section -->
<!-- Start Copyright -->
<div class="copyright-section">
<!-- <div class="container"> -->
	<!-- <div class="row"> -->
	<!--  <div class="col-md-6">
		  <div class="footer-icons">
			 <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>			   
			 <a href="#" class="tweet"><i class="fa fa-twitter"></i></a>
			 <a href="#" class="linked"><i class="fa fa-linkedin-square"></i></a>
			 <a href="#" class="utube"><i class="fa fa-youtube"></i></a>
			 <a href="#" class="app"><i class="fa fa-whatsapp"></i></a>
			 <a href="#" class="interest"><i class="fa fa-pinterest"></i></a>
		  </div>
	   </div> -->
	   <!-- .col-md-6 -->
	  
	   <!-- <div class="col-md-6 butcher-col"> -->
		 
		   <p style="font-size: 12px; margin:0 auto; position:absolute;left: 33.5% ">站点声明：本站为渔子洲头水产品有限公司官方网站，未经允许不得用作任何商业用途。维护意见邮箱：347113619@qq.com</p><div style="width:300px;margin:0 auto; padding:20px 0;"><nobr><a rel="nofollow" href="http://beian.miit.gov.cn" target="_blank" style="color:#939393;font-size:16px; position:absolute;left: 35%">网站备案号： 苏ICP备20014160号</a><p style="font-size: 16px; margin:0 auto; position:absolute;left: 50% ">|</p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32072102010144" style="position:absolute;left: 52.5%;display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../../images/logo/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32072102010144号</p></a><nobr> 	</div>
			
	   <!-- </div> -->
	   <!-- .col-md-6 -->
	<!-- </div> -->
	<!-- .row -->
<!-- </div> -->

</div>




	
		<script>
			function showImg(){
			     $('.bg_img').show();
			     $('#pic1').show();
			 }
			 function showImg2(){
			      $('.bg_img').show();
			      $('#pic2').show();
			  }
			  function showImg3(){
			       $('.bg_img').show();
			       $('#pic3').show();
			   }
			   function showImg4(){
			        $('.bg_img').show();
			        $('#pic4').show();
			    }
				function showImg5(){
				     $('.bg_img').show();
				     $('#pic5').show();
				 }
				 function showImg6(){
				      $('.bg_img').show();
				      $('#pic6').show();
				  }
				  function showImg7(){
				       $('.bg_img').show();
				       $('#pic7').show();
				   }
				   function showImg8(){
				        $('.bg_img').show();
				        $('#pic8').show();
				    }
					function showImg9(){
					     $('.bg_img').show();
					     $('#pic9').show();
					 }
					  //招聘信息&&寻求合作
					 function showImg10(){
					      $('.bg_img').show();
					      $('#pic10').show();
					  }
					  //营业执照
					   function showImg11(){
					       $('.bg_img').show();
					       $('#pic11').show();
					   }
					  
					 
					 
					 
			 $('.bg_img').click(function(){
			     $('.bg_img').hide();
			     $('.img').hide();
			 });
			 
			 
			 
	    </script>

	
	
	<!-- js -->
	<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<script type="text/javascript" src="../../js/bootstrap.js"></script>
	
	
	
	
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Bootstrap Dropdown Hover JS -->
	<script src="../../js/dropdownhover/bootstrap-dropdownhover.min.js"></script>
	<!-- REVOLUTION JS FILES -->
	<script src="../../revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	 (Load Extensions only on Local File Systems !  
	 The following part can be removed on Server for On Demand Loading) -->
	<script src="../../revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 var tpj = jQuery;
	 
	 var revapi1078;
	 tpj(document).ready(function() {
		 if (tpj("#rev_slider_1078_1").revolution == undefined) {
			 revslider_showDoubleJqueryError("#rev_slider_1078_1");
		 } else {
			 revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
				 sliderType: "standard",
				 jsFileLocation: "revolution/js/",
				 sliderLayout: "fullscreen",
				 dottedOverlay: "none",
				 delay: 9000,
				 navigation: {
					 keyboardNavigation: "off",
					 keyboard_direction: "horizontal",
					 mouseScrollNavigation: "off",
					 mouseScrollReverse: "default",
					 onHoverStop: "off",
					 touch: {
						 touchenabled: "on",
						 swipe_threshold: 75,
						 swipe_min_touches: 1,
						 swipe_direction: "horizontal",
						 drag_block_vertical: false
					 },
					 arrows: {
						 style: "zeus",
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"><\/div> <\/div>',
						 left: {
							 h_align: "left",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 },
						 right: {
							 h_align: "right",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 }
					 },
					 bullets: {
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 style: "metis",
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 direction: "horizontal",
						 h_align: "center",
						 v_align: "bottom",
						 h_offset: 0,
						 v_offset: 30,
						 space: 5
					 }
				 },
				 viewPort: {
					 enable: true,
					 outof: "pause",
					 visible_area: "80%",
					 presize: false
				 },
				 responsiveLevels: [1240, 1024, 778, 480],
				 visibilityLevels: [1240, 1024, 778, 480],
				 gridwidth: [1240, 1024, 778, 480],
				 gridheight: [600, 600, 500, 400],
				 lazyType: "none",
				 parallax: {
					 type: "mouse",
					 origo: "slidercenter",
					 speed: 2000,
					 levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
					 type: "mouse",
				 },
				 shadow: 0,
				 spinner: "off",
				 stopLoop: "off",
				 stopAfterLoops: -1,
				 stopAtSlide: -1,
				 shuffle: "off",
				 autoHeight: "off",
				 hideThumbsOnMobile: "off",
				 hideSliderAtLimit: 0,
				 hideCaptionAtLimit: 0,
				 hideAllCaptionAtLilmit: 0,
				 debugMode: false,
				 fallbacks: {
					 simplifyAll: "off",
					 nextSlideOnWindowFocus: "off",
					 disableFocusListener: false,
				 }
			 });
		 }
	 }); /*ready*/
	</script>
	<!-- Parallax -->
	<script src="../../js/parallax/jquery.parallax-1.1.3.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
	<!-- Owl Carousel -->
	<script src="../../js/owl-carousel/owl.carousel.js" type="text/javascript"></script>
	<!-- FitVids -->
	<script src="../../js/fitvids/jquery.fitvids.js" type="text/javascript"></script>
	<!-- Isotope -->
	<script src="../../js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="../../js/isotope/custom-isotope-mansory.js" type="text/javascript"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../../js/magnific-popup/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- Counter Up -->
	<script src="../../js/counterup/waypoints.min.js"></script>
	<script src="../../js/counterup/jquery.counterup.min.js"></script>
	<!-- AJAX Contact Form -->
	<script src="../../js/contact/contact-form.js" type="text/javascript"></script>
	<!-- Donut Chart -->
	<script src="../../js/progress-bars/jquery.donutchart.js" type="text/javascript"></script>
	<!-- Custom JS -->
	<script src="../../js/custom/custom.js"></script>
	<script src="../../js/collapse/collapse.js"></script>
	<script src="../../js/pmenu/pmenu.js"></script>

	
</body>

</html>