<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="../../images/logo/logo-icon.jpg" />
	<title>渔子洲头欢迎您</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../css/all-stylesheets.css" rel="stylesheet">
	<script src="../../js/jquery-1.12.4/jquery.min.js"></script>
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="bg_img" style="background:#9F9F9F;opacity:0.8;display:none;position:fixed;width:100%;height:100%; z-index:9998"></div><!--
 ========================================================================= -->
<div id="preloader">
 <div id="status">
	<div class="spinner"></div>
 </div>
</div>
<!-- /. PRELOADER ENDS
 ========================================================================= -->
<!-- Start Top Bar
 ========================================================================= -->
<div class="top-bar">
 <div class="container">
	<div class="row">
	   <div class="col-md-9 col-sm-9 col-xs-6 contact-detail-column">
		  <!-- Start Contact Info -->
		  <ul class="contact-details">
			 <!-- <li class="hidden-xs"><b>欢迎来到渔子洲头！</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </li> -->
			<!-- <li><i class="fa fa-phone"></i> (+86) 18911581855
			 </li> -->
		  </ul>
		  <!-- End Contact Info -->
	   </div>
	   <!-- .col-md-6 -->
	   <div class="col-md-3 col-sm-3 col-xs-6">
		  <!-- Start Social Links -->
		  <ul class="social-list">
			 <!-- <li>
				<a class="linkdin itl-tooltip" data-placement="bottom" title="" href="#"><i class="fa fa-user" aria-hidden="true"></i> Hello Visitor !</a>
			 </li> -->
		  </ul>
		  <!-- End Social Links -->
	   </div>
	   <!-- .col-md-6 -->
	</div>
	<!-- .row -->
 </div>
 <!-- .container -->
</div>
<!-- .top-bar -->
<!-- End Top Bar
 ========================================================================= -->
<!-- NAVIGATION STARTS
 ========================================================================= -->
<nav class="navbar navbar-default navigation normal">
 <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	   <span class="sr-only">Toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand visible-xs" href="../../images/logo/logo.jpg"  target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   <ul class="nav navbar-nav">
		  <li class="pull-left"><a class="navbar-brand hidden-xs" href="../../images/logo/logo.jpg " target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a></li>
	   </ul>
	   
	      <ul class="nav navbar-nav">
	   			  <br />
	   			 <li ><b>渔子洲头水产品有限公司</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   			 </li>
	   			 <li><i class="fa fa-phone"></i> (+86) 16215067776
	   			 </li>
	   </ul>

	   <ul class="nav navbar-nav navbar-right">
		 
		  <!-- <li><a href="cart.html">购物车</a></li> -->
		  <li><a href ="javascript:return false;" onclick="return false;" style="color: #FFFFFF; font-size: 16px;">la</a></li>
	   </ul>
	
	</div>
	<!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
<!-- /. NAVIGATION ENDS
 ========================================================================= -->
<!-- INNER BANNER STARTS
 ========================================================================= -->
<div class="inner-banner-style banner-img-01">
 <div class="container">
	<div class="row">
	   <div class="col-lg-12">
		  <div class="info">
			 <h1>产品详情</h1>
			 <img src="../../images/blog/1.png" alt="" class="img-responsive blog-image">
		  </div>
		  <ol class="breadcrumb sicon">
			 <li><a href="../../index.html">首页</a></li>
			 <li><a href="../../about.html">关于我们</a></li>
			  <li><a href="../../products.html">产品列表</a></li>
			   <li><a href="#">产品详情</a></li>
		  </ol>
		  
	   </div>
	</div>
 </div>
</div>
<!-- /. INNER BANNER ENDS
 ========================================================================= -->

	<div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">鲶 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Silurus asotus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">鲶鱼</strong> 营养丰富，据测定，鲶鱼食用部分的每100克中，
					含有蛋白质14.4克，脂肪2.1克，水分64.1克，另外还含有糖类，钙、磷、铁等营养成分。鲶鱼的蛋白质中含有人体所必需的8种氯基酸，
					是一种完全蛋白质，很容易被人体消化吸收。鲶鱼的脂肪含量低，含有多种微量元素，所以它是一种良好的滋补食品。鱼肉嫩、易消化，骨刺少，特别适合年老体弱者和幼儿食用。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/nianyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲶鱼</strong> 又名胡子鱼。显著特征是周身无鳞、体表多黏液、头扁口阔、上下颌各有4根条胡须。体色通常呈黑褐色或灰黑色，略有暗云状斑块
					<br><br> <strong style="font-size: 18px;">鲶鱼</strong> 大多为热带淡水生物种，分布于全世界各种淡水区域。鲶鱼怕光，喜欢生活在江河近岸的石缝等地，在阴天和夜间活动频繁。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">鲶鱼</strong>味性温、味甘，归胃、膀胱经；
具有补气、滋阴、催乳、开胃、利小便之功效；
鲇鱼是催乳的佳品，并有滋阴养血、补中气、开胃、利尿的作用，是妇女产后食疗滋补的必选食物。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/nianyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="tittle-w3ls">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 常 见 菜 谱</h3>
			<div class="inner_sec_info_w3ls_agile">
				<div class="col-md-6 testimonials-main">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
								<li data-target="#quote-carousel" data-slide-to="3"></li>
								<li data-target="#quote-carousel" data-slide-to="4"></li>
							</ol>

						<div class="carousel-inner">
								<div class="item active">

									<div class="inner-testimonials">
										<img src="../../images/detail/fish/nianyu3.jpg" alt=" " class="img-responsive" />
										<div class="teastmonial-info">
											<h5>清炖鲶鱼</h5>
											<span></span><br>
											<p class="paragraph">
												<strong style="font-size: 18x;">制作食材</strong><br>
主料：鲶鱼
<br>
辅料：猪肥瘦肉、大蒜、冬笋、盐、料酒、味精、胡椒粉、香油、高汤、香菜、葱段、姜片。
<br>
<strong style="font-size: 18x;">制作流程</strong><br>
1、鲶鱼去黏液切成块放入盆中加盐，料酒，胡椒粉打底味儿，猪肉切成小丁，冬笋切片飞水待用。<br>
2、炒锅上火，放适量油，烧至7成热是放鱼块炸只金黄色取出。<br>
3、原锅留底油，放猪肉煸炒出香，放大蒜，葱段，姜片继续煸炒。<br>
4、放高汤，烧开后放冬笋片和炸好的鲶鱼，加料酒，胡椒粉，盐，味精，转小火少至汤汁成谈黄色后放入汤锅内，上面撒香菜即可。
												
												
												</p>
										</div>
									</div>
								</div>
								
								<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/fish/nianyu4.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>茄子炖鲶鱼</h5>
																			<span></span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：鲇鱼400克
								<br>
								辅料：嫩茄子400克、猪五花肉50克，香菜10克。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1. 茄子去蒂洗净去皮，用手撒成条，香菜切段，五花肉切片。<br>
2. 将鲇鱼收拾整理干净后，放入沸水中略烫，捞出放入凉水中浸凉，取出用筷子刮去表面粘液。大个鲇鱼改6-7厘米的段，小个整条即可。<br>
3. 勺内放少许油，放入茄条煸炒，变软倒入碗内备用。<br>
4. 勺内放汤、鲇鱼、肉片、茄条、葱丝、姜丝，烧开撇沫，加盐、料酒用小火炖20分钟左右，捡出五花肉，倒入碗内。<br>
5. 碗内加醋、味精、胡椒粉，点香油撒上香菜即好。
																				
																				</p>
																		</div>
																	</div>
							</div>
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/nianyu5.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>红烧鲶鱼段</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：鲶鱼1000克
									<br>
									辅料：玉兰片40克 木耳（水发） 25克 猪肋条肉（五花肉）50克 淀粉(蚕豆)20克。调料：味精3克 黄酒8克 大蒜（白皮）20克 小葱15克 姜15克 辣椒（红、尖、干）5克 酱油15克 白砂糖5克 盐4克 醋2克 猪油（炼制）50克。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
								1、鲶鱼以唇部人字骨处拉出内脏，洗净，然后用净布蘸开水擦净身上粘液，剁去头尾，剁掉鳍，用立刀解成人字花纹；<br>
2、洗净的鲶鱼用精盐少许、黄酒、葱丝、姜丝浸渍片刻；<br>
3、将玉兰片浸发，洗净，片成大柳叶片；<br>
4、猪肋条肉（五花肉）切片；<br>
5、蒜去蒜衣切片；<br>
6、红辣椒切段，和去蒂洗净的木耳一起放在盘里；<br>
7、炒锅放旺火上，擦净，添入花生油，烧至六成热，鱼段上抖匀干淀粉，下锅煎制，两面都成柿黄色时出锅沥油；<br>
8、锅内留余油，旺火烧六成热，下入蒜片煸炒出香味，再下入五花肉片、玉兰片、木耳、红辣椒和精盐、黄酒、酱油、白糖、醋等原料，添入清汤250毫升，同烧；<br>
9、待烧至汤沸后，放入鱼段，小火烧至入味，出锅时放入味精即成。
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
							
							
							
							<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/fish/nianyu6.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>大蒜焖鲶鱼</h5>
																			<span></span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：鲶鱼
								<br>
								辅料：料酒，酱油，葱丝，姜片，花椒，大料，郫县豆瓣，泡辣椒，豆油
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．鲶鱼身上有很多黏液，原来是黄色的，洗掉黏液后呈灰色的了
								<br>
								2．鲶鱼背部切开，为了炖时入味。这鱼特肥，我收拾出一小碗鱼油。这菜用独头蒜比较好，切了一些葱丝和姜片，还准备了一些花椒和大料
								<br>
								3．锅里加豆油，先把鱼油和大蒜放里面炸出香味
								<br>
								4．加入料酒、酱油,葱丝姜片，花椒大料还有郫县豆瓣和泡辣椒，添汤，待烧开后放入鲶鱼，炖半小时就可以出锅了
								
																				
																				
																				</p>
																		</div>
																	</div>
							</div>
							
							
							
							
							<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/fish/nianyu7.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>鲶鱼豆腐汤</h5>
																			<span></span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：鲶鱼400克
								<br>
								辅料：豆腐400克、黄酒15克、盐、味精、葱、姜、胡椒粉。

								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将豆腐切成1厘米厚的薄片，用盐水渍5分钟，沥干待用。
								<br>
								2．鲶鱼去鳞和内脏，抹上黄酒，用盐腌制10分钟。
								<br>
								3．锅中放油加热，将鱼两面煎黄，加入葱、姜、适量水，大火煮10分钟转小火煲30分钟
								<br>
								4．然后加入豆腐，再煮5分钟左右，加盐和胡椒粉、鸡精调味，撒上葱花即可。
								
																				
																				
																				</p>
																		</div>
																	</div>
							</div>
							
							
							
							
								<!-- Carousel Buttons Next/Prev -->
							<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
							<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

						</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //Testimonials -->
	
	


<!-- PAGINATION ENDS  -->
<div class="img_backdround-contact">
 <div class="container">
	<div class="row ">
	   <div class="col-lg-6">
	   </div>
	   
	   <div class="col-lg-6 div_margin">
		  <div class="contact">
			 <h1  style="color:#D9534F; font-weight: 900; font-size:50px; ;">抢购方式</h1>
		  </div>
		<!--  <div class="div_line-yal-index">
			 <img class="img-responsive " src="images/blog/line-yal-red.png" alt="">
		  </div> -->
		  <div class="phone">
			 <h2 style="font-size: 28px;">1、官方淘宝店铺:</h2>
		  </div>
		  <div>
			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
		<!--  <img src="../../images/contact/dianpu2.jpg"> -->
		  <img src="../../images/contact/dianpu.png">
		 
		  </div>
		  <div class="div_readmore-red">
			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">点击进入网页版店铺</a>
		  </div>
	   </div>
	   
	   
	   	   <div class="col-lg-6 " style="margin-top: 125px;">
	   		  
	   		  <div class="phone">
	   			 <h2 style="font-size: 28px;">2、官方微信小程序:</h2>
	   		  </div>
	   		  <div>
	   			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
	   		  <!-- <img src="../../images/contact/wait.jpg"> -->
	   		  <img src="../../images/contact/wxp2.png">
	   		 
	   		  </div>
	   		 <!-- <div class="div_readmore-red">
	   			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">进店去看看</a>
	   		  </div> -->
	   </div>
	   
	   
	</div>
	
 </div>
</div>






<!-- Start Footer Section -->
<footer>
 <div class="container">
	<!-- Start Subscribe & Social Links Widget -->
	<div class="row footer-row">
	   <div class="col-lg-4 col-md-4 col-sm-4 contact-widget">
		  <div class="footer-widget mail-subscribe-widget">
			 <div class="title">联系我们</div>
			 <div class="phone" style="font-size: 18px;">(+86) 16215067776</div>
			<div>
				<h2 class="widgettitle">地址：连云港市赣榆区海头镇梁东沙村</h2>
				
			 </div>
		  </div>
	   </div>
	   <div class="col-lg-1"></div>
	   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
		<h2 class="widgettitle">了解我们</h2>
		  <ul class="usefull-links">
			 <li><a href="../../about.html" target="_blank">关于我们</a></li>
			  <li> <img class="img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">招聘信息</a></li>
			 <li><a href="../../products.html" target="_blank">产品信息</a></li>
			  <li> <img class="../../img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">寻求合作</a></li>
		    <li> <img class="img" id="pic11" src="../../images/contact/zhizhao.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);z-index:9999"/><a  onclick="showImg11()">营业执照公示</a></li>
		  </ul>
	   </div>
	   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
		 <h2 class="widgettitle">关注我们</h2>
		  <!-- <img src="images/blog/4.png" alt="" class="liner"> -->
			  <ul class="usefull-links">
					 <li> <img class="img" id="pic1" src="../../images/contact/wxp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg()">微信小程序</a></li>
					 <li><img class="img" id="pic3" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  href="https://weibo.com/u/7306941816" target="_blank">微博</a></li>
					 <li> <img class="img" id="pic4" src="../../images/contact/wxapp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg4()">微信公众号</a></li>
					 <li><img class="img" id="pic5" src="../../images/contact/douyin.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg5()">抖音</a></li>
					 <li><img class="img" id="pic6" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg6()">淘宝网店</a></li>
					 <li><img class="img" id="pic7" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg7()">京东网店</a></li>
					 <li><img class="img" id="pic8" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg8()">安卓APP</a></li>
					 <li><img class="img" id="pic9" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg9()">IOS端应用</a></li>
		</ul>
	   </div>
	   <div class="col-lg-3 col-md-3 col-sm-3 footer-pic">
		  <!-- <h2 class="widgettitle">OUR STORY</h2>
		  <img src="images/blog/4.png" alt="" class="liner"> -->
		  <div class="row">
			 <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 padding-zero">
				<img src="../../images/blog/footer1.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer2.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer3.jpg" alt="" class="img-responsive">
			 </div>
		  </div>
		  <div class="row">
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
				<img src="../../images/blog/footer4.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer5.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
				<img src="../../images/blog/footer6.jpg" alt="" class="img-responsive">
			 </div>
		  </div>
	   </div>
	</div>
	<!-- .row -->
 </div>
</footer>

<!-- End Footer Section -->
<!-- Start Copyright -->
<div class="copyright-section">
<!-- <div class="container"> -->
	<!-- <div class="row"> -->
	<!--  <div class="col-md-6">
		  <div class="footer-icons">
			 <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>			   
			 <a href="#" class="tweet"><i class="fa fa-twitter"></i></a>
			 <a href="#" class="linked"><i class="fa fa-linkedin-square"></i></a>
			 <a href="#" class="utube"><i class="fa fa-youtube"></i></a>
			 <a href="#" class="app"><i class="fa fa-whatsapp"></i></a>
			 <a href="#" class="interest"><i class="fa fa-pinterest"></i></a>
		  </div>
	   </div> -->
	   <!-- .col-md-6 -->
	  
	   <!-- <div class="col-md-6 butcher-col"> -->
		 
		   <p style="font-size: 12px; margin:0 auto; position:absolute;left: 33.5% ">站点声明：本站为渔子洲头水产品有限公司官方网站，未经允许不得用作任何商业用途。维护意见邮箱：347113619@qq.com</p><div style="width:300px;margin:0 auto; padding:20px 0;"><nobr><a rel="nofollow" href="http://beian.miit.gov.cn" target="_blank" style="color:#939393;font-size:16px; position:absolute;left: 35%">网站备案号： 苏ICP备20014160号</a><p style="font-size: 16px; margin:0 auto; position:absolute;left: 50% ">|</p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32072102010144" style="position:absolute;left: 52.5%;display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../../images/logo/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32072102010144号</p></a><nobr> 	</div>
			
	   <!-- </div> -->
	   <!-- .col-md-6 -->
	<!-- </div> -->
	<!-- .row -->
<!-- </div> -->

</div>




	
		<script>
			function showImg(){
			     $('.bg_img').show();
			     $('#pic1').show();
			 }
			 function showImg2(){
			      $('.bg_img').show();
			      $('#pic2').show();
			  }
			  function showImg3(){
			       $('.bg_img').show();
			       $('#pic3').show();
			   }
			   function showImg4(){
			        $('.bg_img').show();
			        $('#pic4').show();
			    }
				function showImg5(){
				     $('.bg_img').show();
				     $('#pic5').show();
				 }
				 function showImg6(){
				      $('.bg_img').show();
				      $('#pic6').show();
				  }
				  function showImg7(){
				       $('.bg_img').show();
				       $('#pic7').show();
				   }
				   function showImg8(){
				        $('.bg_img').show();
				        $('#pic8').show();
				    }
					function showImg9(){
					     $('.bg_img').show();
					     $('#pic9').show();
					 }
					  //招聘信息&&寻求合作
					 function showImg10(){
					      $('.bg_img').show();
					      $('#pic10').show();
					  }
					  //营业执照
					   function showImg11(){
					       $('.bg_img').show();
					       $('#pic11').show();
					   }
					  
					 
					 
					 
			 $('.bg_img').click(function(){
			     $('.bg_img').hide();
			     $('.img').hide();
			 });
			 
			 
			 
	    </script>

	<!-- js -->
	<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<script type="text/javascript" src="../../js/bootstrap.js"></script>
	
	
	
	
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Bootstrap Dropdown Hover JS -->
	<script src="../../js/dropdownhover/bootstrap-dropdownhover.min.js"></script>
	<!-- REVOLUTION JS FILES -->
	<script src="../../revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	 (Load Extensions only on Local File Systems !  
	 The following part can be removed on Server for On Demand Loading) -->
	<script src="../../revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 var tpj = jQuery;
	 
	 var revapi1078;
	 tpj(document).ready(function() {
		 if (tpj("#rev_slider_1078_1").revolution == undefined) {
			 revslider_showDoubleJqueryError("#rev_slider_1078_1");
		 } else {
			 revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
				 sliderType: "standard",
				 jsFileLocation: "revolution/js/",
				 sliderLayout: "fullscreen",
				 dottedOverlay: "none",
				 delay: 9000,
				 navigation: {
					 keyboardNavigation: "off",
					 keyboard_direction: "horizontal",
					 mouseScrollNavigation: "off",
					 mouseScrollReverse: "default",
					 onHoverStop: "off",
					 touch: {
						 touchenabled: "on",
						 swipe_threshold: 75,
						 swipe_min_touches: 1,
						 swipe_direction: "horizontal",
						 drag_block_vertical: false
					 },
					 arrows: {
						 style: "zeus",
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"><\/div> <\/div>',
						 left: {
							 h_align: "left",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 },
						 right: {
							 h_align: "right",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 }
					 },
					 bullets: {
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 style: "metis",
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 direction: "horizontal",
						 h_align: "center",
						 v_align: "bottom",
						 h_offset: 0,
						 v_offset: 30,
						 space: 5
					 }
				 },
				 viewPort: {
					 enable: true,
					 outof: "pause",
					 visible_area: "80%",
					 presize: false
				 },
				 responsiveLevels: [1240, 1024, 778, 480],
				 visibilityLevels: [1240, 1024, 778, 480],
				 gridwidth: [1240, 1024, 778, 480],
				 gridheight: [600, 600, 500, 400],
				 lazyType: "none",
				 parallax: {
					 type: "mouse",
					 origo: "slidercenter",
					 speed: 2000,
					 levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
					 type: "mouse",
				 },
				 shadow: 0,
				 spinner: "off",
				 stopLoop: "off",
				 stopAfterLoops: -1,
				 stopAtSlide: -1,
				 shuffle: "off",
				 autoHeight: "off",
				 hideThumbsOnMobile: "off",
				 hideSliderAtLimit: 0,
				 hideCaptionAtLimit: 0,
				 hideAllCaptionAtLilmit: 0,
				 debugMode: false,
				 fallbacks: {
					 simplifyAll: "off",
					 nextSlideOnWindowFocus: "off",
					 disableFocusListener: false,
				 }
			 });
		 }
	 }); /*ready*/
	</script>
	<!-- Parallax -->
	<script src="../../js/parallax/jquery.parallax-1.1.3.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
	<!-- Owl Carousel -->
	<script src="../../js/owl-carousel/owl.carousel.js" type="text/javascript"></script>
	<!-- FitVids -->
	<script src="../../js/fitvids/jquery.fitvids.js" type="text/javascript"></script>
	<!-- Isotope -->
	<script src="../../js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="../../js/isotope/custom-isotope-mansory.js" type="text/javascript"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../../js/magnific-popup/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- Counter Up -->
	<script src="../../js/counterup/waypoints.min.js"></script>
	<script src="../../js/counterup/jquery.counterup.min.js"></script>
	<!-- AJAX Contact Form -->
	<script src="../../js/contact/contact-form.js" type="text/javascript"></script>
	<!-- Donut Chart -->
	<script src="../../js/progress-bars/jquery.donutchart.js" type="text/javascript"></script>
	<!-- Custom JS -->
	<script src="../../js/custom/custom.js"></script>
	<script src="../../js/collapse/collapse.js"></script>
	<script src="../../js/pmenu/pmenu.js"></script>

	
</body>

</html>