<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="../../images/logo/logo-icon.jpg" />
	<title>渔子洲头欢迎您</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../css/all-stylesheets.css" rel="stylesheet">
	<script src="../../js/jquery-1.12.4/jquery.min.js"></script>
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="bg_img" style="background:#9F9F9F;opacity:0.8;display:none;position:fixed;width:100%;height:100%; z-index:9998"></div><!--
 ========================================================================= -->
<div id="preloader">
 <div id="status">
	<div class="spinner"></div>
 </div>
</div>
<!-- /. PRELOADER ENDS
 ========================================================================= -->
<!-- Start Top Bar
 ========================================================================= -->
<div class="top-bar">
 <div class="container">
	<div class="row">
	   <div class="col-md-9 col-sm-9 col-xs-6 contact-detail-column">
		  <!-- Start Contact Info -->
		  <ul class="contact-details">
			 <!-- <li class="hidden-xs"><b>欢迎来到渔子洲头！</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </li> -->
			<!-- <li><i class="fa fa-phone"></i> (+86) 18911581855
			 </li> -->
		  </ul>
		  <!-- End Contact Info -->
	   </div>
	   <!-- .col-md-6 -->
	   <div class="col-md-3 col-sm-3 col-xs-6">
		  <!-- Start Social Links -->
		  <ul class="social-list">
			 <!-- <li>
				<a class="linkdin itl-tooltip" data-placement="bottom" title="" href="#"><i class="fa fa-user" aria-hidden="true"></i> Hello Visitor !</a>
			 </li> -->
		  </ul>
		  <!-- End Social Links -->
	   </div>
	   <!-- .col-md-6 -->
	</div>
	<!-- .row -->
 </div>
 <!-- .container -->
</div>
<!-- .top-bar -->
<!-- End Top Bar
 ========================================================================= -->
<!-- NAVIGATION STARTS
 ========================================================================= -->
<nav class="navbar navbar-default navigation normal">
 <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	   <span class="sr-only">Toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand visible-xs" href="../../images/logo/logo.jpg"  target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   <ul class="nav navbar-nav">
		  <li class="pull-left"><a class="navbar-brand hidden-xs" href="../../images/logo/logo.jpg " target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a></li>
	   </ul>
	   
	      <ul class="nav navbar-nav">
	   			  <br />
	   			 <li ><b>渔子洲头水产品有限公司</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   			 </li>
	   			 <li><i class="fa fa-phone"></i> (+86) 16215067776
	   			 </li>
	   </ul>

	   <ul class="nav navbar-nav navbar-right">
		 
		  <!-- <li><a href="cart.html">购物车</a></li> -->
		  <li><a href ="javascript:return false;" onclick="return false;" style="color: #FFFFFF; font-size: 16px;">la</a></li>
	   </ul>
	
	</div>
	<!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
<!-- /. NAVIGATION ENDS
 ========================================================================= -->
<!-- INNER BANNER STARTS
 ========================================================================= -->
<div class="inner-banner-style banner-img-01">
 <div class="container">
	<div class="row">
	   <div class="col-lg-12">
		  <div class="info">
			 <h1>产品详情</h1>
			 <img src="../../images/blog/1.png" alt="" class="img-responsive blog-image">
		  </div>
		  <ol class="breadcrumb sicon">
			 <li><a href="../../index.html">首页</a></li>
			 <li><a href="../../about.html">关于我们</a></li>
			  <li><a href="../../products.html">产品列表</a></li>
			   <li><a href="#">产品详情</a></li>
		  </ol>
		  
	   </div>
	</div>
 </div>
</div>
<!-- /. INNER BANNER ENDS
 ========================================================================= -->

	<div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">三 文 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Oncorhynchus</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">三文鱼</strong>中含有丰富的不饱和脂肪酸，能有效降低血脂和血胆固醇，防治心血管疾病，每周两餐，就能将受心脏病攻击死亡的概率降低三分之一。
其体内还含有一种叫做虾青素的物质，是一种非常强力的抗氧化剂。其所含的Ω-3脂肪酸更是脑部、视网膜及神经系统所必不可少的物质，有增强脑功能、防止老年痴呆和预防视力减退的功效。
三文鱼能有效地预防诸如糖尿病等慢性疾病的发生、发展，具有很高的营养价值，享有“水中珍品”的美誉；老少皆宜，心血管疾病患者和脑力劳动者，适合患有消瘦、水肿、消化不良等症人群。
其被国际美食界誉为“冰海之皇”。研究表明，金枪鱼和三文鱼均肉质鲜美，营养丰富，并且富含EPA和DHA等生物活性物质。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/sanwenyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">三文鱼</strong>又名大马哈鱼、鲑鱼、撒蒙鱼。背鳍基短，鳍条少于16根；鳞细小，侧线鳞多于110枚；两颌、犁骨、腭骨及舌上都有牙，牙发达。有上前鳃盖骨。
					<br><br> <strong style="font-size: 18px;">三文鱼</strong>主要分布在大西洋与太平洋、北冰洋交界的水域。主要生产国有日本、俄罗斯、美国和加拿大。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">三文鱼</strong>
					
					性味甘平。归肾、肺经。可健脾胃、补虚劳、利水消肿、明目止痉、防治心血管疾病、老年疼呆、预防视力减退。适用于消瘦、水肿、消化不良、视力减退、抽搐痉挛等症。
					
					
					
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/sanwenyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="tittle-w3ls">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 常 见 菜 谱</h3>
			<div class="inner_sec_info_w3ls_agile">
				<div class="col-md-6 testimonials-main">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
								<li data-target="#quote-carousel" data-slide-to="3"></li>
								<li data-target="#quote-carousel" data-slide-to="4"></li>
								<li data-target="#quote-carousel" data-slide-to="5"></li>
								<li data-target="#quote-carousel" data-slide-to="6"></li>
								<li data-target="#quote-carousel" data-slide-to="7"></li>
						</ol>

						<div class="carousel-inner">
								<div class="item active">

									<div class="inner-testimonials">
										<img src="../../images/detail/fish/sanwenyu3.jpg" alt=" " class="img-responsive" />
										<div class="teastmonial-info">
											<h5>清蒸三文鱼</h5>
											<span></span><br>
											<p class="paragraph">
												<strong style="font-size: 18x;">制作食材</strong><br>
主料：三文鱼
<br>
辅料：洋葱小个的半个左右、香菇1朵、姜丝少许、蒜末少许、海鲜酱油1小匙、白糖少许、香菜末少许。
<br>
<strong style="font-size: 18x;">制作流程</strong><br>
1、材料特简单，一块三文鱼，再准备些香菇、洋葱、姜、香菜、大蒜。把三文鱼切大块；洋葱切丝；香菇切片；香菜切段；蒜切末；姜切丝；<br>
2、取一个大盘，盘子不宜太浅，蒸鱼的时候会流出很多汤汁，在盘子上铺上一层洋葱丝，再铺一层香菇片，最后撒上一些姜丝；<br>
3、把三文鱼放在洋葱丝、香菇片还有姜丝上，上锅蒸约6-7分钟；<br>
4、取一个小碗，把刚刚蒸鱼流出来的汤汁倒进来，再放入切好的蒜末，点几滴海鲜酱油，加一点点白糖，拌匀然后淋在三文鱼上，撒少许香菜末就可以了，或者直接取鱼肉蘸着味汁食用。
												
												</p>
										</div>
									</div>
								</div>
								
								<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/fish/sanwenyu4.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>烟熏三文鱼</h5>
																			<span></span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：三文鱼
								<br>
								辅料：混合生菜、黑水榄、水瓜柳、吐司面包、辣根、柠檬汁、油醋汁
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1、将三文鱼片对折后卷拢成花朵状，置于盆中，挤上柠檬汁，旁边放上混合生菜；<br>
2、黑水榄横切成片，与水瓜柳一起放在盆内；<br>
3、吐司面包切成薄片，切去四边硬皮，改刀成三角形，放入烤箱，烘干后竖放于三文鱼上；<br>
4、用小茶匙舀少许辣根，放在三文鱼上，并在盆子外侧淋入少许油醋汁即可；
								
																				
																				
																				</p>
																		</div>
																	</div>
							</div>
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/sanwenyu5.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>烤三文鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：三文鱼	
									<br>
									辅料：芦笋2根，柠檬半个、盐1小匙、黑胡椒粒1大匙
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、三文鱼表面均匀涂上盐和黑胡椒，放入烤箱，200度，15-20分钟，烤至三文鱼表面焦黄即可；<br>
2、芦笋开水中焯一下，摆盘，根据个人口味，可以撒上少许柠檬汁

																					
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/sanwenyu6.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>椒盐三文鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：三文鱼
									<br>
									辅料：椒盐、芥未。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、三文鱼买回来用椒盐腌约二十分钟左右。<br>
2、煎之前用厨房纸巾吸干水分。<br>
3、烧热锅倒入适量橄榄油，放入三文鱼中火煎。<br>
4、煎香一面翻转煎另一面。<br>
5、煎至两面金黄色均匀地撒少许椒盐粉然后盛起，配上芥未即可。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/sanwenyu7.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>蒜香三文鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：三文鱼
									<br>
									辅料：蒜蓉、欧芹、黑胡椒粒
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
								1、三文鱼先用少许盐、胡椒粉腌约二十分钟待用。<br>
2、煎之前在鱼身涂一层薄薄的生粉，烧热锅倒入少许橄榄油将腌好的三文鱼放入。<br>
3、煎香一面翻转再煎另外一面。<br>
4、两面都煎好之后放入一大勺蒜蓉。<br>
5、调入少许生抽、白糖、胡椒粉以及少许清水。<br>
6、将切碎的欧芹加入。<br>
7、稍煮片刻之后撒上少许黑胡椒粒即可熄火上碟。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>	<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/sanwenyu8.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>红烧三文鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：三文鱼
									<br>
									辅料：胡萝卜、青豆、葱姜、八角、辣椒、麻椒、盐、白糖、生抽、胡椒粉、白酒、水淀粉、鸡精。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、三文鱼切大块，胡萝卜切小丁。<br>
2、三文鱼用盐、白酒、胡椒粉、腌渍15分钟。<br>
3、锅中放少许油，烧制5成热放三文鱼两面煎熟取出待用。<br>
4、锅留底油，煸香葱姜片、八角、麻椒、干辣椒煸出香味，放入三文鱼，烹入少许酒，加入胡萝卜丁炒少许，放入青豆，加少许水，放盐、生抽、鸡精调味小火入味，大火收汁，水淀粉勾芡出锅装盘即可。
																					
																					
																					</p>
																			</div>
																		</div>
								</div>	<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/sanwenyu9.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>三文鱼刺身</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：鲜三文鱼
									<br>
									辅料：白萝卜适量、绿芥末酱、酱油、黄瓜1段。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1.将白萝卜切成细丝摆入盘中一侧、黄瓜切成1厘米厚一块备用。<br>
2.三文鱼柳切成4个厚片，放在冰块上，放入盘中。<br>
3.再切一些薄片，摆成花形。<br>
4.黄瓜放入盘中，把绿芥末酱做成锥形，放在黄瓜上，用牙签扎出一个个小洞，使之形似草莓。<br>
5.吃时配一碟酱油，把绿芥末适量放入，蘸食。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>	<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/sanwenyu10.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>香煎三文鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：三文鱼300克
									<br>
									辅料：甜豆50克，青、红、黄椒各1只（切片状），藕条50克，干葱或洋葱25克，鸡蛋1只，干淀粉、未炒过的黑白芝麻、柠檬汁、盐、胡椒粉、蜂蜜、鱼露等适量。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1、三文鱼切成大小均匀的块状，用胡椒粉、盐、柠檬汁、蜂蜜等腌5分钟，以去掉三文鱼淡淡的海腥味；<br>
2、鸡蛋打开，将腌好的三文鱼的一面先粘上干淀粉，再粘上鸡蛋液，后粘上未炒过的黑白芝麻，待用；<br>
3、电磁炉调中火，起锅，倒入适量橄榄油，当油冒起小泡，放入三文鱼，先煎粘有黑白芝麻的一面20秒，待其定型后，再将另外两面煎至变金黄色约9成熟，然后离火，利用余温再煎几秒后上碟；<br>
4、将甜豆、青红黄椒片、藕条炒熟后拌在煎好的三文鱼边上即可。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
							
							
								<!-- Carousel Buttons Next/Prev -->
							<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
							<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

						</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //Testimonials -->
	
	
	
	<!-- PAGINATION ENDS  -->
	<div class="img_backdround-contact">
	 <div class="container">
		<div class="row ">
		   <div class="col-lg-6">
		   </div>
		   
		   <div class="col-lg-6 div_margin">
			  <div class="contact">
				 <h1  style="color:#D9534F; font-weight: 900; font-size:50px; ;">抢购方式</h1>
			  </div>
			<!--  <div class="div_line-yal-index">
				 <img class="img-responsive " src="images/blog/line-yal-red.png" alt="">
			  </div> -->
			  <div class="phone">
				 <h2 style="font-size: 28px;">1、官方淘宝店铺:</h2>
			  </div>
			  <div>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
			<!--  <img src="../../images/contact/dianpu2.jpg"> -->
			  <img src="../../images/contact/dianpu.png">
			 
			  </div>
			  <div class="div_readmore-red">
				 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">点击进入网页版店铺</a>
			  </div>
		   </div>
		   
		   
		   	   <div class="col-lg-6 " style="margin-top: 125px;">
		   		  
		   		  <div class="phone">
		   			 <h2 style="font-size: 28px;">2、官方微信小程序:</h2>
		   		  </div>
		   		  <div>
		   			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
		   		  <!-- <img src="../../images/contact/wait.jpg"> -->
		   		  <img src="../../images/contact/wxp2.png">
		   		 
		   		  </div>
		   		 <!-- <div class="div_readmore-red">
		   			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">进店去看看</a>
		   		  </div> -->
		   </div>
		   
		   
		</div>
		
	 </div>
	</div>
	
	
	
	
	
	
	<!-- Start Footer Section -->
	<footer>
	 <div class="container">
		<!-- Start Subscribe & Social Links Widget -->
		<div class="row footer-row">
		   <div class="col-lg-4 col-md-4 col-sm-4 contact-widget">
			  <div class="footer-widget mail-subscribe-widget">
				 <div class="title">联系我们</div>
				 <div class="phone" style="font-size: 18px;">(+86) 16215067776</div>
				<div>
					<h2 class="widgettitle">地址：连云港市赣榆区海头镇梁东沙村</h2>
					
				 </div>
			  </div>
		   </div>
		   <div class="col-lg-1"></div>
		   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
			<h2 class="widgettitle">了解我们</h2>
			  <ul class="usefull-links">
				 <li><a href="../../about.html" target="_blank">关于我们</a></li>
				  <li> <img class="img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">招聘信息</a></li>
				 <li><a href="../../products.html" target="_blank">产品信息</a></li>
				  <li> <img class="../../img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">寻求合作</a></li>
			    <li> <img class="img" id="pic11" src="../../images/contact/zhizhao.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);z-index:9999"/><a  onclick="showImg11()">营业执照公示</a></li>
			  </ul>
		   </div>
		   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
			 <h2 class="widgettitle">关注我们</h2>
			  <!-- <img src="images/blog/4.png" alt="" class="liner"> -->
				  <ul class="usefull-links">
						 <li> <img class="img" id="pic1" src="../../images/contact/wxp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg()">微信小程序</a></li>
						 <li><img class="img" id="pic3" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  href="https://weibo.com/u/7306941816" target="_blank">微博</a></li>
						 <li> <img class="img" id="pic4" src="../../images/contact/wxapp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg4()">微信公众号</a></li>
						 <li><img class="img" id="pic5" src="../../images/contact/douyin.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg5()">抖音</a></li>
						 <li><img class="img" id="pic6" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg6()">淘宝网店</a></li>
						 <li><img class="img" id="pic7" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg7()">京东网店</a></li>
						 <li><img class="img" id="pic8" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg8()">安卓APP</a></li>
						 <li><img class="img" id="pic9" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg9()">IOS端应用</a></li>
			</ul>
		   </div>
		   <div class="col-lg-3 col-md-3 col-sm-3 footer-pic">
			  <!-- <h2 class="widgettitle">OUR STORY</h2>
			  <img src="images/blog/4.png" alt="" class="liner"> -->
			  <div class="row">
				 <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 padding-zero">
					<img src="../../images/blog/footer1.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer2.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer3.jpg" alt="" class="img-responsive">
				 </div>
			  </div>
			  <div class="row">
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
					<img src="../../images/blog/footer4.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer5.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
					<img src="../../images/blog/footer6.jpg" alt="" class="img-responsive">
				 </div>
			  </div>
		   </div>
		</div>
		<!-- .row -->
	 </div>
	</footer>
	
	<!-- End Footer Section -->
	<!-- Start Copyright -->
	<div class="copyright-section">
	<!-- <div class="container"> -->
		<!-- <div class="row"> -->
		<!--  <div class="col-md-6">
			  <div class="footer-icons">
				 <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>			   
				 <a href="#" class="tweet"><i class="fa fa-twitter"></i></a>
				 <a href="#" class="linked"><i class="fa fa-linkedin-square"></i></a>
				 <a href="#" class="utube"><i class="fa fa-youtube"></i></a>
				 <a href="#" class="app"><i class="fa fa-whatsapp"></i></a>
				 <a href="#" class="interest"><i class="fa fa-pinterest"></i></a>
			  </div>
		   </div> -->
		   <!-- .col-md-6 -->
		  
		   <!-- <div class="col-md-6 butcher-col"> -->
			 
			   <p style="font-size: 12px; margin:0 auto; position:absolute;left: 33.5% ">站点声明：本站为渔子洲头水产品有限公司官方网站，未经允许不得用作任何商业用途。维护意见邮箱：347113619@qq.com</p><div style="width:300px;margin:0 auto; padding:20px 0;"><nobr><a rel="nofollow" href="http://beian.miit.gov.cn" target="_blank" style="color:#939393;font-size:16px; position:absolute;left: 35%">网站备案号： 苏ICP备20014160号</a><p style="font-size: 16px; margin:0 auto; position:absolute;left: 50% ">|</p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32072102010144" style="position:absolute;left: 52.5%;display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../../images/logo/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32072102010144号</p></a><nobr> 	</div>
				
		   <!-- </div> -->
		   <!-- .col-md-6 -->
		<!-- </div> -->
		<!-- .row -->
	<!-- </div> -->
	
	</div>
	
	
	
	
		
			<script>
				function showImg(){
				     $('.bg_img').show();
				     $('#pic1').show();
				 }
				 function showImg2(){
				      $('.bg_img').show();
				      $('#pic2').show();
				  }
				  function showImg3(){
				       $('.bg_img').show();
				       $('#pic3').show();
				   }
				   function showImg4(){
				        $('.bg_img').show();
				        $('#pic4').show();
				    }
					function showImg5(){
					     $('.bg_img').show();
					     $('#pic5').show();
					 }
					 function showImg6(){
					      $('.bg_img').show();
					      $('#pic6').show();
					  }
					  function showImg7(){
					       $('.bg_img').show();
					       $('#pic7').show();
					   }
					   function showImg8(){
					        $('.bg_img').show();
					        $('#pic8').show();
					    }
						function showImg9(){
						     $('.bg_img').show();
						     $('#pic9').show();
						 }
						  //招聘信息&&寻求合作
						 function showImg10(){
						      $('.bg_img').show();
						      $('#pic10').show();
						  }
						  //营业执照
						   function showImg11(){
						       $('.bg_img').show();
						       $('#pic11').show();
						   }
						  
						 
						 
						 
				 $('.bg_img').click(function(){
				     $('.bg_img').hide();
				     $('.img').hide();
				 });
				 
				 
				 
		    </script>
	
	
	
	<!-- js -->
	<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<script type="text/javascript" src="../../js/bootstrap.js"></script>
	
	
	
	
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Bootstrap Dropdown Hover JS -->
	<script src="../../js/dropdownhover/bootstrap-dropdownhover.min.js"></script>
	<!-- REVOLUTION JS FILES -->
	<script src="../../revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	 (Load Extensions only on Local File Systems !  
	 The following part can be removed on Server for On Demand Loading) -->
	<script src="../../revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 var tpj = jQuery;
	 
	 var revapi1078;
	 tpj(document).ready(function() {
		 if (tpj("#rev_slider_1078_1").revolution == undefined) {
			 revslider_showDoubleJqueryError("#rev_slider_1078_1");
		 } else {
			 revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
				 sliderType: "standard",
				 jsFileLocation: "revolution/js/",
				 sliderLayout: "fullscreen",
				 dottedOverlay: "none",
				 delay: 9000,
				 navigation: {
					 keyboardNavigation: "off",
					 keyboard_direction: "horizontal",
					 mouseScrollNavigation: "off",
					 mouseScrollReverse: "default",
					 onHoverStop: "off",
					 touch: {
						 touchenabled: "on",
						 swipe_threshold: 75,
						 swipe_min_touches: 1,
						 swipe_direction: "horizontal",
						 drag_block_vertical: false
					 },
					 arrows: {
						 style: "zeus",
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"><\/div> <\/div>',
						 left: {
							 h_align: "left",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 },
						 right: {
							 h_align: "right",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 }
					 },
					 bullets: {
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 style: "metis",
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 direction: "horizontal",
						 h_align: "center",
						 v_align: "bottom",
						 h_offset: 0,
						 v_offset: 30,
						 space: 5
					 }
				 },
				 viewPort: {
					 enable: true,
					 outof: "pause",
					 visible_area: "80%",
					 presize: false
				 },
				 responsiveLevels: [1240, 1024, 778, 480],
				 visibilityLevels: [1240, 1024, 778, 480],
				 gridwidth: [1240, 1024, 778, 480],
				 gridheight: [600, 600, 500, 400],
				 lazyType: "none",
				 parallax: {
					 type: "mouse",
					 origo: "slidercenter",
					 speed: 2000,
					 levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
					 type: "mouse",
				 },
				 shadow: 0,
				 spinner: "off",
				 stopLoop: "off",
				 stopAfterLoops: -1,
				 stopAtSlide: -1,
				 shuffle: "off",
				 autoHeight: "off",
				 hideThumbsOnMobile: "off",
				 hideSliderAtLimit: 0,
				 hideCaptionAtLimit: 0,
				 hideAllCaptionAtLilmit: 0,
				 debugMode: false,
				 fallbacks: {
					 simplifyAll: "off",
					 nextSlideOnWindowFocus: "off",
					 disableFocusListener: false,
				 }
			 });
		 }
	 }); /*ready*/
	</script>
	<!-- Parallax -->
	<script src="../../js/parallax/jquery.parallax-1.1.3.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
	<!-- Owl Carousel -->
	<script src="../../js/owl-carousel/owl.carousel.js" type="text/javascript"></script>
	<!-- FitVids -->
	<script src="../../js/fitvids/jquery.fitvids.js" type="text/javascript"></script>
	<!-- Isotope -->
	<script src="../../js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="../../js/isotope/custom-isotope-mansory.js" type="text/javascript"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../../js/magnific-popup/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- Counter Up -->
	<script src="../../js/counterup/waypoints.min.js"></script>
	<script src="../../js/counterup/jquery.counterup.min.js"></script>
	<!-- AJAX Contact Form -->
	<script src="../../js/contact/contact-form.js" type="text/javascript"></script>
	<!-- Donut Chart -->
	<script src="../../js/progress-bars/jquery.donutchart.js" type="text/javascript"></script>
	<!-- Custom JS -->
	<script src="../../js/custom/custom.js"></script>
	<script src="../../js/collapse/collapse.js"></script>
	<script src="../../js/pmenu/pmenu.js"></script>

	
</body>

</html>