<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="../../images/logo/logo-icon.jpg" />
	<title>渔子洲头欢迎您</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../css/all-stylesheets.css" rel="stylesheet">
	<script src="../../js/jquery-1.12.4/jquery.min.js"></script>
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="bg_img" style="background:#9F9F9F;opacity:0.8;display:none;position:fixed;width:100%;height:100%; z-index:9998"></div><!--
 ========================================================================= -->
<div id="preloader">
 <div id="status">
	<div class="spinner"></div>
 </div>
</div>
<!-- /. PRELOADER ENDS
 ========================================================================= -->
<!-- Start Top Bar
 ========================================================================= -->
<div class="top-bar">
 <div class="container">
	<div class="row">
	   <div class="col-md-9 col-sm-9 col-xs-6 contact-detail-column">
		  <!-- Start Contact Info -->
		  <ul class="contact-details">
			 <!-- <li class="hidden-xs"><b>欢迎来到渔子洲头！</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </li> -->
			<!-- <li><i class="fa fa-phone"></i> (+86) 18911581855
			 </li> -->
		  </ul>
		  <!-- End Contact Info -->
	   </div>
	   <!-- .col-md-6 -->
	   <div class="col-md-3 col-sm-3 col-xs-6">
		  <!-- Start Social Links -->
		  <ul class="social-list">
			 <!-- <li>
				<a class="linkdin itl-tooltip" data-placement="bottom" title="" href="#"><i class="fa fa-user" aria-hidden="true"></i> Hello Visitor !</a>
			 </li> -->
		  </ul>
		  <!-- End Social Links -->
	   </div>
	   <!-- .col-md-6 -->
	</div>
	<!-- .row -->
 </div>
 <!-- .container -->
</div>
<!-- .top-bar -->
<!-- End Top Bar
 ========================================================================= -->
<!-- NAVIGATION STARTS
 ========================================================================= -->
<nav class="navbar navbar-default navigation normal">
 <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	   <span class="sr-only">Toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand visible-xs" href="../../images/logo/logo.jpg"  target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   <ul class="nav navbar-nav">
		  <li class="pull-left"><a class="navbar-brand hidden-xs" href="../../images/logo/logo.jpg " target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a></li>
	   </ul>
	   
	      <ul class="nav navbar-nav">
	   			  <br />
	   			 <li ><b>渔子洲头水产品有限公司</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   			 </li>
	   			 <li><i class="fa fa-phone"></i> (+86) 16215067776
	   			 </li>
	   </ul>

	   <ul class="nav navbar-nav navbar-right">
		 
		  <!-- <li><a href="cart.html">购物车</a></li> -->
		  <li><a href ="javascript:return false;" onclick="return false;" style="color: #FFFFFF; font-size: 16px;">la</a></li>
	   </ul>
	
	</div>
	<!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
<!-- /. NAVIGATION ENDS
 ========================================================================= -->
<!-- INNER BANNER STARTS
 ========================================================================= -->
<div class="inner-banner-style banner-img-01">
 <div class="container">
	<div class="row">
	   <div class="col-lg-12">
		  <div class="info">
			 <h1>产品详情</h1>
			 <img src="../../images/blog/1.png" alt="" class="img-responsive blog-image">
		  </div>
		  <ol class="breadcrumb sicon">
			 <li><a href="../../index.html">首页</a></li>
			 <li><a href="../../about.html">关于我们</a></li>
			  <li><a href="../../products.html">产品列表</a></li>
			   <li><a href="#">产品详情</a></li>
		  </ol>
		  
	   </div>
	</div>
 </div>
</div>
<!-- /. INNER BANNER ENDS
 ========================================================================= -->

	<div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">梭 鱼</h3>
			<div class="about-top">
				<h3 class="subheading">Barracuda</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">梭鱼</strong> 是近海鱼类，它的营养价值非常高，不仅富含蛋白质，还含有多种氨基酸和维生素以及人体所需的多种微量元素，
					同时它还含有癌症克星硒元素，每100g梭鱼含有硒16.8ug。它含有丰富的不饱和脂肪酸，能够促进我们的血液循环，所以对我们的心血管能起到一定的益处。还具有保护视力，止血，催乳的作用。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/fish/suoyu.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">梭鱼 </strong>俗称海狼。体背青灰色，腹部白色。体侧上部有几条青灰色纵纹，还有许多斜横纹，底白色，各鳍浅灰色。
					<br><br> <strong style="font-size: 18px;">梭鱼 </strong>主要栖息在海口河川咸淡水交汇处，我国主要产于南海、东海、黄海和渤海。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">梭鱼 </strong>味甘，性平，无毒。归胃、肺、脾经。益筋骨，益气力，温中下气，开胃，通利五脏。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/fish/suoyu2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="tittle-w3ls">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 常 见 菜 谱</h3>
			<div class="inner_sec_info_w3ls_agile">
				<div class="col-md-6 testimonials-main">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
								<li data-target="#quote-carousel" data-slide-to="3"></li>
							</ol>

						<div class="carousel-inner">
								<div class="item active">

									<div class="inner-testimonials">
										<img src="../../images/detail/fish/suoyu3.jpg" alt=" " class="img-responsive" />
										<div class="teastmonial-info">
											<h5>豆腐梭鱼汤</h5>
											<span></span><br>
											<p class="paragraph">
												<strong style="font-size: 18x;">制作食材</strong><br>
主料：梭鱼3条；豆腐1斤
<br>
辅料：香菜、生姜、大葱、盐、高汤精、胡椒粉、醪糟汁
<br>
<strong style="font-size: 18x;">制作流程</strong><br>
1、梭鱼去鳞、鳃和内脏鸡腹内黑膜，清洗干净，切成段。<br>
2、起油锅，爆香葱、姜片。<br>
3、锅内加水、少量盐和鱼段，大火煮开，中火煮15分钟。<br>
4、豆腐切块，放入锅中煮5分钟。<br>
5、最后加入胡椒粉、高汤精、香菜段即可。
												
												
												</p>
										</div>
									</div>
								</div>
								
								<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/fish/suoyu4.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>家常炖梭鱼</h5>
																			<span></span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：梭鱼
								<br>
								辅料：生抽、老抽、陈醋、料酒、糖、盐、十三香粉、葱、姜、蒜。
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
							1、用油和葱，姜，十三香粉爆锅，加清水适量；<br>
2、把鱼到入锅中；<br>
3、这时，下面的火开旺一点，往汤里加那些准备好的调料；<br>
4、大火炖煮吧。约十五到二十分钟，看鱼的大小决定。汤汁收的也差不多了，再加一些葱丝，姜丝和蒜粒；<br>
5、水淀粉勾芡，出锅。
																				
																				
																				</p>
																		</div>
																	</div>
							</div>
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/suoyu5.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>红烧梭鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：梭鱼
									<br>
									辅料：葱姜、料酒、酱油、盐
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1 梭鱼洗净<br>
2 葱切葱花，姜切片。<br>
3 锅里油热爆香葱姜，下入鱼煎一下，翻面煎一下。<br>
4 加入水，料酒，酱油，盐，炖至鱼熟，汤汁快收干时加鸡精调味出锅撒上香菜或葱末。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/fish/suoyu6.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>清蒸梭鱼</h5>
																				<span></span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：梭鱼
									<br>
									辅料：葱姜蒜，调料
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
								1.梭鱼两条，洗净备用。<br>
2.切成均匀的片，底部不要切断。<br>
3.用料酒、生抽、鱼露腌制一会。<br>
4.葱姜蒜切丝，撒在鱼身上。<br>
5.上屉蒸5分钟，关火后再闷3分即可。
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
							
							
								<!-- Carousel Buttons Next/Prev -->
							<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
							<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

						</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //Testimonials -->
	
	


<!-- PAGINATION ENDS  -->
<div class="img_backdround-contact">
 <div class="container">
	<div class="row ">
	   <div class="col-lg-6">
	   </div>
	   
	   <div class="col-lg-6 div_margin">
		  <div class="contact">
			 <h1  style="color:#D9534F; font-weight: 900; font-size:50px; ;">抢购方式</h1>
		  </div>
		<!--  <div class="div_line-yal-index">
			 <img class="img-responsive " src="images/blog/line-yal-red.png" alt="">
		  </div> -->
		  <div class="phone">
			 <h2 style="font-size: 28px;">1、官方淘宝店铺:</h2>
		  </div>
		  <div>
			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
		<!--  <img src="../../images/contact/dianpu2.jpg"> -->
		  <img src="../../images/contact/dianpu.png">
		 
		  </div>
		  <div class="div_readmore-red">
			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">点击进入网页版店铺</a>
		  </div>
	   </div>
	   
	   
	   	   <div class="col-lg-6 " style="margin-top: 125px;">
	   		  
	   		  <div class="phone">
	   			 <h2 style="font-size: 28px;">2、官方微信小程序:</h2>
	   		  </div>
	   		  <div>
	   			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
	   		  <!-- <img src="../../images/contact/wait.jpg"> -->
	   		  <img src="../../images/contact/wxp2.png">
	   		 
	   		  </div>
	   		 <!-- <div class="div_readmore-red">
	   			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">进店去看看</a>
	   		  </div> -->
	   </div>
	   
	   
	</div>
	
 </div>
</div>






<!-- Start Footer Section -->
<footer>
 <div class="container">
	<!-- Start Subscribe & Social Links Widget -->
	<div class="row footer-row">
	   <div class="col-lg-4 col-md-4 col-sm-4 contact-widget">
		  <div class="footer-widget mail-subscribe-widget">
			 <div class="title">联系我们</div>
			 <div class="phone" style="font-size: 18px;">(+86) 16215067776</div>
			<div>
				<h2 class="widgettitle">地址：连云港市赣榆区海头镇梁东沙村</h2>
				
			 </div>
		  </div>
	   </div>
	   <div class="col-lg-1"></div>
	   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
		<h2 class="widgettitle">了解我们</h2>
		  <ul class="usefull-links">
			 <li><a href="../../about.html" target="_blank">关于我们</a></li>
			  <li> <img class="img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">招聘信息</a></li>
			 <li><a href="../../products.html" target="_blank">产品信息</a></li>
			  <li> <img class="../../img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">寻求合作</a></li>
		    <li> <img class="img" id="pic11" src="../../images/contact/zhizhao.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);z-index:9999"/><a  onclick="showImg11()">营业执照公示</a></li>
		  </ul>
	   </div>
	   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
		 <h2 class="widgettitle">关注我们</h2>
		  <!-- <img src="images/blog/4.png" alt="" class="liner"> -->
			  <ul class="usefull-links">
					 <li> <img class="img" id="pic1" src="../../images/contact/wxp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg()">微信小程序</a></li>
					 <li><img class="img" id="pic3" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  href="https://weibo.com/u/7306941816" target="_blank">微博</a></li>
					 <li> <img class="img" id="pic4" src="../../images/contact/wxapp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg4()">微信公众号</a></li>
					 <li><img class="img" id="pic5" src="../../images/contact/douyin.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg5()">抖音</a></li>
					 <li><img class="img" id="pic6" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg6()">淘宝网店</a></li>
					 <li><img class="img" id="pic7" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg7()">京东网店</a></li>
					 <li><img class="img" id="pic8" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg8()">安卓APP</a></li>
					 <li><img class="img" id="pic9" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg9()">IOS端应用</a></li>
		</ul>
	   </div>
	   <div class="col-lg-3 col-md-3 col-sm-3 footer-pic">
		  <!-- <h2 class="widgettitle">OUR STORY</h2>
		  <img src="images/blog/4.png" alt="" class="liner"> -->
		  <div class="row">
			 <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 padding-zero">
				<img src="../../images/blog/footer1.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer2.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer3.jpg" alt="" class="img-responsive">
			 </div>
		  </div>
		  <div class="row">
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
				<img src="../../images/blog/footer4.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer5.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
				<img src="../../images/blog/footer6.jpg" alt="" class="img-responsive">
			 </div>
		  </div>
	   </div>
	</div>
	<!-- .row -->
 </div>
</footer>

<!-- End Footer Section -->
<!-- Start Copyright -->
<div class="copyright-section">
<!-- <div class="container"> -->
	<!-- <div class="row"> -->
	<!--  <div class="col-md-6">
		  <div class="footer-icons">
			 <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>			   
			 <a href="#" class="tweet"><i class="fa fa-twitter"></i></a>
			 <a href="#" class="linked"><i class="fa fa-linkedin-square"></i></a>
			 <a href="#" class="utube"><i class="fa fa-youtube"></i></a>
			 <a href="#" class="app"><i class="fa fa-whatsapp"></i></a>
			 <a href="#" class="interest"><i class="fa fa-pinterest"></i></a>
		  </div>
	   </div> -->
	   <!-- .col-md-6 -->
	  
	   <!-- <div class="col-md-6 butcher-col"> -->
		 
		   <p style="font-size: 12px; margin:0 auto; position:absolute;left: 33.5% ">站点声明：本站为渔子洲头水产品有限公司官方网站，未经允许不得用作任何商业用途。维护意见邮箱：347113619@qq.com</p><div style="width:300px;margin:0 auto; padding:20px 0;"><nobr><a rel="nofollow" href="http://beian.miit.gov.cn" target="_blank" style="color:#939393;font-size:16px; position:absolute;left: 35%">网站备案号： 苏ICP备20014160号</a><p style="font-size: 16px; margin:0 auto; position:absolute;left: 50% ">|</p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32072102010144" style="position:absolute;left: 52.5%;display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../../images/logo/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32072102010144号</p></a><nobr> 	</div>
			
	   <!-- </div> -->
	   <!-- .col-md-6 -->
	<!-- </div> -->
	<!-- .row -->
<!-- </div> -->

</div>




	
		<script>
			function showImg(){
			     $('.bg_img').show();
			     $('#pic1').show();
			 }
			 function showImg2(){
			      $('.bg_img').show();
			      $('#pic2').show();
			  }
			  function showImg3(){
			       $('.bg_img').show();
			       $('#pic3').show();
			   }
			   function showImg4(){
			        $('.bg_img').show();
			        $('#pic4').show();
			    }
				function showImg5(){
				     $('.bg_img').show();
				     $('#pic5').show();
				 }
				 function showImg6(){
				      $('.bg_img').show();
				      $('#pic6').show();
				  }
				  function showImg7(){
				       $('.bg_img').show();
				       $('#pic7').show();
				   }
				   function showImg8(){
				        $('.bg_img').show();
				        $('#pic8').show();
				    }
					function showImg9(){
					     $('.bg_img').show();
					     $('#pic9').show();
					 }
					  //招聘信息&&寻求合作
					 function showImg10(){
					      $('.bg_img').show();
					      $('#pic10').show();
					  }
					  //营业执照
					   function showImg11(){
					       $('.bg_img').show();
					       $('#pic11').show();
					   }
					  
					 
					 
					 
			 $('.bg_img').click(function(){
			     $('.bg_img').hide();
			     $('.img').hide();
			 });
			 
			 
			 
	    </script>

	
	
	<!-- js -->
	<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<script type="text/javascript" src="../../js/bootstrap.js"></script>
	
	
	
	
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Bootstrap Dropdown Hover JS -->
	<script src="../../js/dropdownhover/bootstrap-dropdownhover.min.js"></script>
	<!-- REVOLUTION JS FILES -->
	<script src="../../revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	 (Load Extensions only on Local File Systems !  
	 The following part can be removed on Server for On Demand Loading) -->
	<script src="../../revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 var tpj = jQuery;
	 
	 var revapi1078;
	 tpj(document).ready(function() {
		 if (tpj("#rev_slider_1078_1").revolution == undefined) {
			 revslider_showDoubleJqueryError("#rev_slider_1078_1");
		 } else {
			 revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
				 sliderType: "standard",
				 jsFileLocation: "revolution/js/",
				 sliderLayout: "fullscreen",
				 dottedOverlay: "none",
				 delay: 9000,
				 navigation: {
					 keyboardNavigation: "off",
					 keyboard_direction: "horizontal",
					 mouseScrollNavigation: "off",
					 mouseScrollReverse: "default",
					 onHoverStop: "off",
					 touch: {
						 touchenabled: "on",
						 swipe_threshold: 75,
						 swipe_min_touches: 1,
						 swipe_direction: "horizontal",
						 drag_block_vertical: false
					 },
					 arrows: {
						 style: "zeus",
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"><\/div> <\/div>',
						 left: {
							 h_align: "left",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 },
						 right: {
							 h_align: "right",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 }
					 },
					 bullets: {
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 style: "metis",
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 direction: "horizontal",
						 h_align: "center",
						 v_align: "bottom",
						 h_offset: 0,
						 v_offset: 30,
						 space: 5
					 }
				 },
				 viewPort: {
					 enable: true,
					 outof: "pause",
					 visible_area: "80%",
					 presize: false
				 },
				 responsiveLevels: [1240, 1024, 778, 480],
				 visibilityLevels: [1240, 1024, 778, 480],
				 gridwidth: [1240, 1024, 778, 480],
				 gridheight: [600, 600, 500, 400],
				 lazyType: "none",
				 parallax: {
					 type: "mouse",
					 origo: "slidercenter",
					 speed: 2000,
					 levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
					 type: "mouse",
				 },
				 shadow: 0,
				 spinner: "off",
				 stopLoop: "off",
				 stopAfterLoops: -1,
				 stopAtSlide: -1,
				 shuffle: "off",
				 autoHeight: "off",
				 hideThumbsOnMobile: "off",
				 hideSliderAtLimit: 0,
				 hideCaptionAtLimit: 0,
				 hideAllCaptionAtLilmit: 0,
				 debugMode: false,
				 fallbacks: {
					 simplifyAll: "off",
					 nextSlideOnWindowFocus: "off",
					 disableFocusListener: false,
				 }
			 });
		 }
	 }); /*ready*/
	</script>
	<!-- Parallax -->
	<script src="../../js/parallax/jquery.parallax-1.1.3.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
	<!-- Owl Carousel -->
	<script src="../../js/owl-carousel/owl.carousel.js" type="text/javascript"></script>
	<!-- FitVids -->
	<script src="../../js/fitvids/jquery.fitvids.js" type="text/javascript"></script>
	<!-- Isotope -->
	<script src="../../js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="../../js/isotope/custom-isotope-mansory.js" type="text/javascript"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../../js/magnific-popup/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- Counter Up -->
	<script src="../../js/counterup/waypoints.min.js"></script>
	<script src="../../js/counterup/jquery.counterup.min.js"></script>
	<!-- AJAX Contact Form -->
	<script src="../../js/contact/contact-form.js" type="text/javascript"></script>
	<!-- Donut Chart -->
	<script src="../../js/progress-bars/jquery.donutchart.js" type="text/javascript"></script>
	<!-- Custom JS -->
	<script src="../../js/custom/custom.js"></script>
	<script src="../../js/collapse/collapse.js"></script>
	<script src="../../js/pmenu/pmenu.js"></script>

	
</body>

</html>