<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="../../images/logo/logo-icon.jpg" />
	<title>渔子洲头欢迎您</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../css/all-stylesheets.css" rel="stylesheet">
	<script src="../../js/jquery-1.12.4/jquery.min.js"></script>
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="bg_img" style="background:#9F9F9F;opacity:0.8;display:none;position:fixed;width:100%;height:100%; z-index:9998"></div><!--
 ========================================================================= -->
<div id="preloader">
 <div id="status">
	<div class="spinner"></div>
 </div>
</div>
<!-- /. PRELOADER ENDS
 ========================================================================= -->
<!-- Start Top Bar
 ========================================================================= -->
<div class="top-bar">
 <div class="container">
	<div class="row">
	   <div class="col-md-9 col-sm-9 col-xs-6 contact-detail-column">
		  <!-- Start Contact Info -->
		  <ul class="contact-details">
			 <!-- <li class="hidden-xs"><b>欢迎来到渔子洲头！</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </li> -->
			<!-- <li><i class="fa fa-phone"></i> (+86) 18911581855
			 </li> -->
		  </ul>
		  <!-- End Contact Info -->
	   </div>
	   <!-- .col-md-6 -->
	   <div class="col-md-3 col-sm-3 col-xs-6">
		  <!-- Start Social Links -->
		  <ul class="social-list">
			 <!-- <li>
				<a class="linkdin itl-tooltip" data-placement="bottom" title="" href="#"><i class="fa fa-user" aria-hidden="true"></i> Hello Visitor !</a>
			 </li> -->
		  </ul>
		  <!-- End Social Links -->
	   </div>
	   <!-- .col-md-6 -->
	</div>
	<!-- .row -->
 </div>
 <!-- .container -->
</div>
<!-- .top-bar -->
<!-- End Top Bar
 ========================================================================= -->
<!-- NAVIGATION STARTS
 ========================================================================= -->
<nav class="navbar navbar-default navigation normal">
 <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	   <span class="sr-only">Toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand visible-xs" href="../../images/logo/logo.jpg"  target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   <ul class="nav navbar-nav">
		  <li class="pull-left"><a class="navbar-brand hidden-xs" href="../../images/logo/logo.jpg " target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a></li>
	   </ul>
	   
	      <ul class="nav navbar-nav">
	   			  <br />
	   			 <li ><b>渔子洲头水产品有限公司</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   			 </li>
	   			 <li><i class="fa fa-phone"></i> (+86) 16215067776
	   			 </li>
	   </ul>

	   <ul class="nav navbar-nav navbar-right">
		 
		  <!-- <li><a href="cart.html">购物车</a></li> -->
		  <li><a href ="javascript:return false;" onclick="return false;" style="color: #FFFFFF; font-size: 16px;">la</a></li>
	   </ul>
	
	</div>
	<!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
<!-- /. NAVIGATION ENDS
 ========================================================================= -->
<!-- INNER BANNER STARTS
 ========================================================================= -->
<div class="inner-banner-style banner-img-01">
 <div class="container">
	<div class="row">
	   <div class="col-lg-12">
		  <div class="info">
			 <h1>产品详情</h1>
			 <img src="../../images/blog/1.png" alt="" class="img-responsive blog-image">
		  </div>
		  <ol class="breadcrumb sicon">
			 <li><a href="../../index.html">首页</a></li>
			 <li><a href="../../about.html">关于我们</a></li>
			  <li><a href="../../products.html">产品列表</a></li>
			   <li><a href="#">产品详情</a></li>
		  </ol>
		  
	   </div>
	</div>
 </div>
</div>
<!-- /. INNER BANNER ENDS
 ========================================================================= -->

	<div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">大 闸 蟹</h3>
			<div class="about-top">
				<h3 class="subheading">Eriocheir sinensis</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">大闸蟹</strong>
					被视为美味佳肴，是其特殊的营养成分所决定的，据分析测定，100克蟹肉中含维生素A高达5900国际单位，热量高达582千焦耳，
					为水产品之冠，脂肪、碳水化合物、核黄素的含量均远高于许多名特水产品。大闸蟹形态独特、肉味鲜美、营养丰富，是水产珍品，
					历来受中国民众喜爱。几千年来，大闸蟹的美食之篇不绝于世，古人有“不到庐山辜负目，不食螃蟹辜负腹”之说，每当“九九”重阳节之时，大闸蟹黄满膏腻，赏菊食蟹成为时尚。
	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/crab/dazhaxie.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">大闸蟹</strong>，学名中华绒螯蟹，又名河蟹、毛蟹、清水蟹，是中国传统的水产珍品。体型较大，头胸甲呈圆方形，边缘有细颗粒前半部窄于后半部，背面较隆起。
					<br><br> <strong style="font-size: 18px;">大闸蟹</strong>在中国分布很广，通海的江河基本都有分布，北自辽宁，南至福建沿海诸省通海河流中均有分布，尤其是长江中下游两岸湖泊、江河中都有它的踪迹；随着远洋运输业的发展，中华绒螯蟹随着大型船舶的压仓水也能漂洋过海，世界沿海诸国常可见到。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">大闸蟹</strong>
					可清热、散结、续伤、理脉、滋阴等；蟹壳还可清热解毒、破瘀消积。现代医学认为，大闸蟹中丰富的维生素A，是人体内不可缺少的营养成分，它能促进生长，延缓衰老，维持上皮组织健康，增强人体对传染病的抵抗力，还可防止夜盲症的发生。
					</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/crab/dazhaxie2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="tittle-w3ls">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 常 见 菜 谱</h3>
			<div class="inner_sec_info_w3ls_agile">
				<div class="col-md-6 testimonials-main">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
								<li data-target="#quote-carousel" data-slide-to="3"></li>
								<li data-target="#quote-carousel" data-slide-to="4"></li>
							</ol>

						<div class="carousel-inner">
								<div class="item active">

									<div class="inner-testimonials">
										<img src="../../images/detail/crab/dazhaxie3.jpg" alt=" " class="img-responsive" />
										<div class="teastmonial-info">
											<h5>香辣蟹</h5>
											<span>Spicy Crab</span><br>
											<p class="paragraph">
												<strong style="font-size: 18x;">制作食材</strong><br>
主料：大闸蟹
<br>
辅料：蒜瓣 3 个、老姜3 片、葱花 5 克、麻辣烫底料 、油各1 汤匙、干辣椒 5 个、生抽1 汤匙、白糖、盐 各1 茶匙、料酒、海鲜酱各2 茶匙
<br>
<strong style="font-size: 18x;">制作流程</strong><br>
1．大闸蟹去除鳃白及毛边后洗净斩件。<br>
2．锅中放油，爆香蒜瓣、姜片、干辣椒。<br>
3．放麻辣烫底料，小火煸香，放入大闸蟹转大火炒2 分钟。<br>
4．后放生抽、海鲜酱炒匀。<br>
5. 放盐、白糖和料酒继续翻炒3 分钟左右，最后放葱花炒匀即可。
												
												
												</p>
										</div>
									</div>
								</div>
								
								<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/crab/dazhaxie4.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>水煮大闸蟹</h5>
																			<span>Boiled hairy crabs</span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：大闸蟹
								<br>
								辅料：醋、姜、蒜
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．将大闸蟹放到大的盛有清水的脸盆中，里面加入少量盐，迅速用盖盖上，压好，5分钟后一个一个取出用　清水把外表洗刷干净放入盛器中．前一过程是用盐水刺激大闸蟹吐出肚中脏物
								<br>
								2．锅中放入适量冷水(以放在锅中能淹没大闸蟹为准)，将大闸蟹肚皮朝上放入锅中，迅速盖好透明锅盖，压好锅盖，用大火煮，蟹慢慢死去，水开后，煮15分钟至蟹壳呈鲜红色，蟹肉成熟时，关火再闷3分钟，取出。
								<br>
								3．姜末20克 蒜末10克 酱油30克、香醋50克 全部放入一个小碗中制成调料，供吃时取出蟹肉蘸了吃．
								
								
																				
																				</p>
																		</div>
																	</div>
							</div>
								
								<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/crab/dazhaxie5.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>咖喱大闸蟹</h5>
																				<span>Curry hairy crab</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：大闸蟹
									<br>
									辅料：姜、葱段、料酒、咖喱酱、椰汁、糖；

									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将姜切片、葱切断待用；将大闸蟹洗净，剥壳待用；
									<br>
									2．锅内倒入油，热油备用；
									<br>
									3．姜片、葱段爆香后下螃蟹去翻炒；
									<br>
									4．加入料酒去腥，直至变色为红色；
									<br>
									5. 放入3勺咖喱酱，加入一盒椰汁、加些糖调味；
									<br>
									6. 翻炒均匀后，盖上锅盖焖5分钟即可；
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
								
								<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/crab/dazhaxie6.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>盐焗大闸蟹</h5>
																				<span>Salted Hairy Crab</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：大闸蟹
									<br>
									辅料：盐（能把大闸蟹覆盖即可）、香料
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．大闸蟹洗干净， 用刷子刷上些黄酒
									<br>
									2．炒锅烧热， 放大量的盐， 最好是粗盐，炒到盐热透
									<br>
									3．炒盐的同时， 烤箱预热 200 度 
									<br>
									4．放入些香料， 桂皮， 香叶， 八角等等 入炒热的盐中
									<br>
									5．将炒热的盐铺满烤盘后， 放入大闸蟹， 再在大闸蟹上铺满盐
									<br>
									6．200 度， 烤 15分钟。
									
																					
																					</p>
																			</div>
																		</div>
								</div>
								
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/crab/dazhaxie7.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>清蒸大闸蟹</h5>
																				<span>Steamed Hairy Crab</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：大闸蟹(2500克) 
									<br>
									辅料：香葱1棵、生姜1块 、酱油(150克)、 白砂糖(150克)、小葱(50克)、香醋(150克) 、姜(50克) 、香油(20克)。
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．将大闸蟹蟹身及蟹腿用刷子仔细刷干净；每只用草绳将蟹腿与蟹身绑在一起，放入蒸格内。
									<br>
									2．蒸锅加水置旺火上，烧开后放上蒸格，将大闸蟹隔水蒸15分钟左右，至蟹壳呈红色，蟹肉熟透，夹出后装盘。
									<br>
									3．在蒸蟹过程中，将淡色酱油放入小锅内，稍煮1分钟后倒入装有白糖，料酒，芝麻油的小碗里混匀。将醋倒入装有姜末的另一个小碗里混匀。
									<br>
									4．食用时随配上酱油碟和姜醋碟，边剥蟹肉边蘸酱油和姜醋调料吃。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
							
							
								<!-- Carousel Buttons Next/Prev -->
							<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
							<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

						</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //Testimonials -->
	


<!-- PAGINATION ENDS  -->
<div class="img_backdround-contact">
 <div class="container">
	<div class="row ">
	   <div class="col-lg-6">
	   </div>
	   
	   <div class="col-lg-6 div_margin">
		  <div class="contact">
			 <h1  style="color:#D9534F; font-weight: 900; font-size:50px; ;">抢购方式</h1>
		  </div>
		<!--  <div class="div_line-yal-index">
			 <img class="img-responsive " src="images/blog/line-yal-red.png" alt="">
		  </div> -->
		  <div class="phone">
			 <h2 style="font-size: 28px;">1、官方淘宝店铺:</h2>
		  </div>
		  <div>
			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
		<!--  <img src="../../images/contact/dianpu2.jpg"> -->
		  <img src="../../images/contact/dianpu.png">
		 
		  </div>
		  <div class="div_readmore-red">
			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">点击进入网页版店铺</a>
		  </div>
	   </div>
	   
	   
	   	   <div class="col-lg-6 " style="margin-top: 125px;">
	   		  
	   		  <div class="phone">
	   			 <h2 style="font-size: 28px;">2、官方微信小程序:</h2>
	   		  </div>
	   		  <div>
	   			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
	   		  <!-- <img src="../../images/contact/wait.jpg"> -->
	   		  <img src="../../images/contact/wxp2.png">
	   		 
	   		  </div>
	   		 <!-- <div class="div_readmore-red">
	   			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">进店去看看</a>
	   		  </div> -->
	   </div>
	   
	   
	</div>
	
 </div>
</div>






<!-- Start Footer Section -->
<footer>
 <div class="container">
	<!-- Start Subscribe & Social Links Widget -->
	<div class="row footer-row">
	   <div class="col-lg-4 col-md-4 col-sm-4 contact-widget">
		  <div class="footer-widget mail-subscribe-widget">
			 <div class="title">联系我们</div>
			 <div class="phone" style="font-size: 18px;">(+86) 16215067776</div>
			<div>
				<h2 class="widgettitle">地址：连云港市赣榆区海头镇梁东沙村</h2>
				
			 </div>
		  </div>
	   </div>
	   <div class="col-lg-1"></div>
	   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
		<h2 class="widgettitle">了解我们</h2>
		  <ul class="usefull-links">
			 <li><a href="../../about.html" target="_blank">关于我们</a></li>
			  <li> <img class="img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">招聘信息</a></li>
			 <li><a href="../../products.html" target="_blank">产品信息</a></li>
			  <li> <img class="../../img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">寻求合作</a></li>
		    <li> <img class="img" id="pic11" src="../../images/contact/zhizhao.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);z-index:9999"/><a  onclick="showImg11()">营业执照公示</a></li>
		  </ul>
	   </div>
	   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
		 <h2 class="widgettitle">关注我们</h2>
		  <!-- <img src="images/blog/4.png" alt="" class="liner"> -->
			  <ul class="usefull-links">
					 <li> <img class="img" id="pic1" src="../../images/contact/wxp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg()">微信小程序</a></li>
					 <li><img class="img" id="pic3" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  href="https://weibo.com/u/7306941816" target="_blank">微博</a></li>
					 <li> <img class="img" id="pic4" src="../../images/contact/wxapp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg4()">微信公众号</a></li>
					 <li><img class="img" id="pic5" src="../../images/contact/douyin.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg5()">抖音</a></li>
					 <li><img class="img" id="pic6" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg6()">淘宝网店</a></li>
					 <li><img class="img" id="pic7" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg7()">京东网店</a></li>
					 <li><img class="img" id="pic8" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg8()">安卓APP</a></li>
					 <li><img class="img" id="pic9" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg9()">IOS端应用</a></li>
		</ul>
	   </div>
	   <div class="col-lg-3 col-md-3 col-sm-3 footer-pic">
		  <!-- <h2 class="widgettitle">OUR STORY</h2>
		  <img src="images/blog/4.png" alt="" class="liner"> -->
		  <div class="row">
			 <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 padding-zero">
				<img src="../../images/blog/footer1.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer2.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer3.jpg" alt="" class="img-responsive">
			 </div>
		  </div>
		  <div class="row">
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
				<img src="../../images/blog/footer4.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
				<img src="../../images/blog/footer5.jpg" alt="" class="img-responsive">
			 </div>
			 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
				<img src="../../images/blog/footer6.jpg" alt="" class="img-responsive">
			 </div>
		  </div>
	   </div>
	</div>
	<!-- .row -->
 </div>
</footer>

<!-- End Footer Section -->
<!-- Start Copyright -->
<div class="copyright-section">
<!-- <div class="container"> -->
	<!-- <div class="row"> -->
	<!--  <div class="col-md-6">
		  <div class="footer-icons">
			 <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>			   
			 <a href="#" class="tweet"><i class="fa fa-twitter"></i></a>
			 <a href="#" class="linked"><i class="fa fa-linkedin-square"></i></a>
			 <a href="#" class="utube"><i class="fa fa-youtube"></i></a>
			 <a href="#" class="app"><i class="fa fa-whatsapp"></i></a>
			 <a href="#" class="interest"><i class="fa fa-pinterest"></i></a>
		  </div>
	   </div> -->
	   <!-- .col-md-6 -->
	  
	   <!-- <div class="col-md-6 butcher-col"> -->
		 
		   <p style="font-size: 12px; margin:0 auto; position:absolute;left: 33.5% ">站点声明：本站为渔子洲头水产品有限公司官方网站，未经允许不得用作任何商业用途。维护意见邮箱：347113619@qq.com</p><div style="width:300px;margin:0 auto; padding:20px 0;"><nobr><a rel="nofollow" href="http://beian.miit.gov.cn" target="_blank" style="color:#939393;font-size:16px; position:absolute;left: 35%">网站备案号： 苏ICP备20014160号</a><p style="font-size: 16px; margin:0 auto; position:absolute;left: 50% ">|</p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32072102010144" style="position:absolute;left: 52.5%;display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../../images/logo/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32072102010144号</p></a><nobr> 	</div>
			
	   <!-- </div> -->
	   <!-- .col-md-6 -->
	<!-- </div> -->
	<!-- .row -->
<!-- </div> -->

</div>




	
		<script>
			function showImg(){
			     $('.bg_img').show();
			     $('#pic1').show();
			 }
			 function showImg2(){
			      $('.bg_img').show();
			      $('#pic2').show();
			  }
			  function showImg3(){
			       $('.bg_img').show();
			       $('#pic3').show();
			   }
			   function showImg4(){
			        $('.bg_img').show();
			        $('#pic4').show();
			    }
				function showImg5(){
				     $('.bg_img').show();
				     $('#pic5').show();
				 }
				 function showImg6(){
				      $('.bg_img').show();
				      $('#pic6').show();
				  }
				  function showImg7(){
				       $('.bg_img').show();
				       $('#pic7').show();
				   }
				   function showImg8(){
				        $('.bg_img').show();
				        $('#pic8').show();
				    }
					function showImg9(){
					     $('.bg_img').show();
					     $('#pic9').show();
					 }
					  //招聘信息&&寻求合作
					 function showImg10(){
					      $('.bg_img').show();
					      $('#pic10').show();
					  }
					  //营业执照
					   function showImg11(){
					       $('.bg_img').show();
					       $('#pic11').show();
					   }
					  
					 
					 
					 
			 $('.bg_img').click(function(){
			     $('.bg_img').hide();
			     $('.img').hide();
			 });
			 
			 
			 
	    </script>

	
	
	<!-- js -->
	<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<script type="text/javascript" src="../../js/bootstrap.js"></script>
	
	
	
	
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Bootstrap Dropdown Hover JS -->
	<script src="../../js/dropdownhover/bootstrap-dropdownhover.min.js"></script>
	<!-- REVOLUTION JS FILES -->
	<script src="../../revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	 (Load Extensions only on Local File Systems !  
	 The following part can be removed on Server for On Demand Loading) -->
	<script src="../../revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 var tpj = jQuery;
	 
	 var revapi1078;
	 tpj(document).ready(function() {
		 if (tpj("#rev_slider_1078_1").revolution == undefined) {
			 revslider_showDoubleJqueryError("#rev_slider_1078_1");
		 } else {
			 revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
				 sliderType: "standard",
				 jsFileLocation: "revolution/js/",
				 sliderLayout: "fullscreen",
				 dottedOverlay: "none",
				 delay: 9000,
				 navigation: {
					 keyboardNavigation: "off",
					 keyboard_direction: "horizontal",
					 mouseScrollNavigation: "off",
					 mouseScrollReverse: "default",
					 onHoverStop: "off",
					 touch: {
						 touchenabled: "on",
						 swipe_threshold: 75,
						 swipe_min_touches: 1,
						 swipe_direction: "horizontal",
						 drag_block_vertical: false
					 },
					 arrows: {
						 style: "zeus",
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"><\/div> <\/div>',
						 left: {
							 h_align: "left",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 },
						 right: {
							 h_align: "right",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 }
					 },
					 bullets: {
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 style: "metis",
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 direction: "horizontal",
						 h_align: "center",
						 v_align: "bottom",
						 h_offset: 0,
						 v_offset: 30,
						 space: 5
					 }
				 },
				 viewPort: {
					 enable: true,
					 outof: "pause",
					 visible_area: "80%",
					 presize: false
				 },
				 responsiveLevels: [1240, 1024, 778, 480],
				 visibilityLevels: [1240, 1024, 778, 480],
				 gridwidth: [1240, 1024, 778, 480],
				 gridheight: [600, 600, 500, 400],
				 lazyType: "none",
				 parallax: {
					 type: "mouse",
					 origo: "slidercenter",
					 speed: 2000,
					 levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
					 type: "mouse",
				 },
				 shadow: 0,
				 spinner: "off",
				 stopLoop: "off",
				 stopAfterLoops: -1,
				 stopAtSlide: -1,
				 shuffle: "off",
				 autoHeight: "off",
				 hideThumbsOnMobile: "off",
				 hideSliderAtLimit: 0,
				 hideCaptionAtLimit: 0,
				 hideAllCaptionAtLilmit: 0,
				 debugMode: false,
				 fallbacks: {
					 simplifyAll: "off",
					 nextSlideOnWindowFocus: "off",
					 disableFocusListener: false,
				 }
			 });
		 }
	 }); /*ready*/
	</script>
	<!-- Parallax -->
	<script src="../../js/parallax/jquery.parallax-1.1.3.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
	<!-- Owl Carousel -->
	<script src="../../js/owl-carousel/owl.carousel.js" type="text/javascript"></script>
	<!-- FitVids -->
	<script src="../../js/fitvids/jquery.fitvids.js" type="text/javascript"></script>
	<!-- Isotope -->
	<script src="../../js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="../../js/isotope/custom-isotope-mansory.js" type="text/javascript"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../../js/magnific-popup/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- Counter Up -->
	<script src="../../js/counterup/waypoints.min.js"></script>
	<script src="../../js/counterup/jquery.counterup.min.js"></script>
	<!-- AJAX Contact Form -->
	<script src="../../js/contact/contact-form.js" type="text/javascript"></script>
	<!-- Donut Chart -->
	<script src="../../js/progress-bars/jquery.donutchart.js" type="text/javascript"></script>
	<!-- Custom JS -->
	<script src="../../js/custom/custom.js"></script>
	<script src="../../js/collapse/collapse.js"></script>
	<script src="../../js/pmenu/pmenu.js"></script>

	
</body>

</html>