<!DOCTYPE html>
<html>

<head>
	<link rel="shortcut icon" href="../../images/logo/logo-icon.jpg" />
	<title>渔子洲头欢迎您</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="../../css/all-stylesheets.css" rel="stylesheet">
	<script src="../../js/jquery-1.12.4/jquery.min.js"></script>
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
 <div class="bg_img" style="background:#9F9F9F;opacity:0.8;display:none;position:fixed;width:100%;height:100%; z-index:9998"></div><!--
 ========================================================================= -->
<div id="preloader">
 <div id="status">
	<div class="spinner"></div>
 </div>
</div>
<!-- /. PRELOADER ENDS
 ========================================================================= -->
<!-- Start Top Bar
 ========================================================================= -->
<div class="top-bar">
 <div class="container">
	<div class="row">
	   <div class="col-md-9 col-sm-9 col-xs-6 contact-detail-column">
		  <!-- Start Contact Info -->
		  <ul class="contact-details">
			 <!-- <li class="hidden-xs"><b>欢迎来到渔子洲头！</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			 </li> -->
			<!-- <li><i class="fa fa-phone"></i> (+86) 18911581855
			 </li> -->
		  </ul>
		  <!-- End Contact Info -->
	   </div>
	   <!-- .col-md-6 -->
	   <div class="col-md-3 col-sm-3 col-xs-6">
		  <!-- Start Social Links -->
		  <ul class="social-list">
			 <!-- <li>
				<a class="linkdin itl-tooltip" data-placement="bottom" title="" href="#"><i class="fa fa-user" aria-hidden="true"></i> Hello Visitor !</a>
			 </li> -->
		  </ul>
		  <!-- End Social Links -->
	   </div>
	   <!-- .col-md-6 -->
	</div>
	<!-- .row -->
 </div>
 <!-- .container -->
</div>
<!-- .top-bar -->
<!-- End Top Bar
 ========================================================================= -->
<!-- NAVIGATION STARTS
 ========================================================================= -->
<nav class="navbar navbar-default navigation normal">
 <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	   <span class="sr-only">Toggle navigation</span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   <span class="icon-bar"></span>
	   </button>
	   <a class="navbar-brand visible-xs" href="../../images/logo/logo.jpg"  target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	   <ul class="nav navbar-nav">
		  <li class="pull-left"><a class="navbar-brand hidden-xs" href="../../images/logo/logo.jpg " target="_blank"><img src="../../images/logo/logo.jpg" height="50" width="87" alt="" ></a></li>
	   </ul>
	   
	      <ul class="nav navbar-nav">
	   			  <br />
	   			 <li ><b>渔子洲头水产品有限公司</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   			 </li>
	   			 <li><i class="fa fa-phone"></i> (+86) 16215067776
	   			 </li>
	   </ul>

	   <ul class="nav navbar-nav navbar-right">
		 
		  <!-- <li><a href="cart.html">购物车</a></li> -->
		  <li><a href ="javascript:return false;" onclick="return false;" style="color: #FFFFFF; font-size: 16px;">la</a></li>
	   </ul>
	
	</div>
	<!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>
<!-- /. NAVIGATION ENDS
 ========================================================================= -->
<!-- INNER BANNER STARTS
 ========================================================================= -->
<div class="inner-banner-style banner-img-01">
 <div class="container">
	<div class="row">
	   <div class="col-lg-12">
		  <div class="info">
			 <h1>产品详情</h1>
			 <img src="../../images/blog/1.png" alt="" class="img-responsive blog-image">
		  </div>
		  <ol class="breadcrumb sicon">
			 <li><a href="../../index.html">首页</a></li>
			 <li><a href="../../about.html">关于我们</a></li>
			  <li><a href="../../products.html">产品列表</a></li>
			   <li><a href="#">产品详情</a></li>
		  </ol>
		  
	   </div>
	</div>
 </div>
</div>
<!-- /. INNER BANNER ENDS
 ========================================================================= -->

	<div class="ab_content">
		<div class="container">
			<h3 class="tittle-w3ls">海 带</h3>
			<div class="about-top">
				<h3 class="subheading">Laminaria japonica</h3>
				<p class="paragraph">
					
					<strong style="font-size: 18px; color: #000000;">海带</strong>的蛋白质中氨基酸种类齐全，比例适当，尤其人体必需的八种氨基酸，其含量十分接近理想蛋白质中必需氨基酸含量模式。
					海带除用作菜外，还可加工成各种风味独特的食品。

	</p>
			</div>
			<div class="about-main">
				<div class="col-md-6 about-left "  style=" background: url(../../images/detail/plant/haidai.jpg)no-repeat 0px 0px;" >
				</div>

				<div class="col-md-6 about-right">
					<h3>简 介</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海带</strong>又名纶布、昆布、江白菜，是多年生大型食用藻类。藻体为长条扁平叶状体，褐绿色，有两条纵沟贯穿于叶片中部，形成中部带，一般长1.5-3m，宽15-25cm。
					<br><br> <strong style="font-size: 18px;">海带</strong>生于海边低潮线下2m深度的岩石上，人工养殖生长在绳索或竹材上。海带成本低廉，营养丰富，生长于水温较低的海中，是一种重要的海生资源。
					</p>

				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="about-main sec">

				<div class="col-md-6 about-right two">
					<h3>食 疗</h3>
					<p class="paragraph"><strong style="font-size: 18px;">海带</strong>味咸，性寒，归肝、肾经，其纤维素可以清除附在消化道上的细菌霉菌及废尘颗粒，
					减少痰的堆积，具有消痰软坚、利水消肿之功效。海带还可以辅助治疗乳腺增生。这是由于其中含有大量的碘，大约每100克海带中含有300毫克～700毫克碘。可以促使卵巢滤泡黄体化，
					从而降低体内雌激素水平，使内分泌失调得到调整。</p>

				</div>
				<div class="col-md-6 about-left two" style=" background: url(../../images/detail/plant/haidai2.jpg)no-repeat 0px 0px;">
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3 class="tittle-w3ls">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 常 见 菜 谱</h3>
			<div class="inner_sec_info_w3ls_agile">
				<div class="col-md-6 testimonials-main">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
							</ol>

						<div class="carousel-inner">
								<div class="item active">

									<div class="inner-testimonials">
										<img src="../../images/detail/plant/haidai5.jpg" alt=" " class="img-responsive" />
										<div class="teastmonial-info">
											<h5>蒜蓉海带丝</h5>
											<span>Shredded Garlic Kelp</span><br>
											<p class="paragraph">
												<strong style="font-size: 18x;">制作食材</strong><br>
主料：海带丝 100克
<br>
辅料：蒜头 1个、
麻油、
生抽、
蚝油、
辣椒酱、
醋 少量、
糖 少量
<br>
<strong style="font-size: 18x;">制作流程</strong><br>
1．海带丝放清水中漂洗两遍，去掉杂质及泥沙。<br>
2．锅内烧开水，放洗净的海带丝下锅焯煮3分钟。<br>
3．烫好的海带捞出，控干水分，放凉备用。<br>
4．蒜瓣切成蒜蓉。<br>
5. 将凉透的海带丝放入深碗内，依次加入麻油，生抽，蚝油，辣椒酱，醋（少量），糖（少量）。<br>
6. 将所有调料拌匀，等5分钟，调料汁儿充分入味后，撒上蒜蓉，即可食用。
												
												
												</p>
										</div>
									</div>
								</div>
								
								<div class="item ">
								
																	<div class="inner-testimonials">
																		<img src="../../images/detail/plant/haidai3.jpg" alt=" " class="img-responsive" />
																		<div class="teastmonial-info">
																			<h5>海带汤</h5>
																			<span>Seaweed soup</span><br>
																			<p class="paragraph">
																				<strong style="font-size: 18x;">制作食材</strong><br>
								主料：泡水的海带200克
								<br>
								辅料：牛肉100克，酱油2勺，香油、蒜末1勺，胡椒粉，豆油
								<br>
								<strong style="font-size: 18x;">制作流程</strong><br>
								1．牛肉切沫与酱油、香油拌匀
								<br>
								2．在锅中放入豆油，炒牛肉和海带
								<br>
								3．后加入水煮一下，然后放入酱油、蒜沫、胡椒粉即可
								
																				
																				
																				</p>
																		</div>
																	</div>
							</div>
								
									<div class="item ">
									
																		<div class="inner-testimonials">
																			<img src="../../images/detail/plant/haidai4.jpg" alt=" " class="img-responsive" />
																			<div class="teastmonial-info">
																				<h5>海带炒肉</h5>
																				<span>Kelp Fried Meat</span><br>
																				<p class="paragraph">
																					<strong style="font-size: 18x;">制作食材</strong><br>
									主料：40g干海带、30g鲜肉
									<br>
									辅料：适量葱、
适量姜、
适量干辣椒、
1个八角、
适量盐、
少许鸡精、
适量酱油
									<br>
									<strong style="font-size: 18x;">制作流程</strong><br>
									1．干海带用凉水泡发，洗净后切成长条；
									<br>
									2．猪肉切粗丝，葱切葱花，姜切丝，干辣椒切碎；
									<br>
									3．炒锅热油放八角，放肉片煸炒至变色后再加葱花、姜丝、干辣椒；
									<br>
									4．淋入酱油上色；
										<br>
									5. 加切好的海带片，煸炒至熟，放盐、鸡精调味即可。
									
																					
																					
																					</p>
																			</div>
																		</div>
								</div>
							
							
								<!-- Carousel Buttons Next/Prev -->
							<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
							<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

						</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<!-- //Testimonials -->
	
	
	
	<!-- PAGINATION ENDS  -->
	<div class="img_backdround-contact">
	 <div class="container">
		<div class="row ">
		   <div class="col-lg-6">
		   </div>
		   
		   <div class="col-lg-6 div_margin">
			  <div class="contact">
				 <h1  style="color:#D9534F; font-weight: 900; font-size:50px; ;">抢购方式</h1>
			  </div>
			<!--  <div class="div_line-yal-index">
				 <img class="img-responsive " src="images/blog/line-yal-red.png" alt="">
			  </div> -->
			  <div class="phone">
				 <h2 style="font-size: 28px;">1、官方淘宝店铺:</h2>
			  </div>
			  <div>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
			<!--  <img src="../../images/contact/dianpu2.jpg"> -->
			  <img src="../../images/contact/dianpu.png">
			 
			  </div>
			  <div class="div_readmore-red">
				 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">点击进入网页版店铺</a>
			  </div>
		   </div>
		   
		   
		   	   <div class="col-lg-6 " style="margin-top: 125px;">
		   		  
		   		  <div class="phone">
		   			 <h2 style="font-size: 28px;">2、官方微信小程序:</h2>
		   		  </div>
		   		  <div>
		   			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
		   		  <!-- <img src="../../images/contact/wait.jpg"> -->
		   		  <img src="../../images/contact/wxp2.png">
		   		 
		   		  </div>
		   		 <!-- <div class="div_readmore-red">
		   			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">进店去看看</a>
		   		  </div> -->
		   </div>
		   
		   
		</div>
		
	 </div>
	</div>
	
	
	
		
	
	
	<!-- PAGINATION ENDS  -->
	<div class="img_backdround-contact">
	 <div class="container">
		<div class="row ">
		   <div class="col-lg-6">
		   </div>
		   
		   <div class="col-lg-6 div_margin">
			  <div class="contact">
				 <h1  style="color:#D9534F; font-weight: 900; font-size:50px; ;">抢购方式</h1>
			  </div>
			<!--  <div class="div_line-yal-index">
				 <img class="img-responsive " src="images/blog/line-yal-red.png" alt="">
			  </div> -->
			  <div class="phone">
				 <h2 style="font-size: 28px;">1、官方淘宝店铺:</h2>
			  </div>
			  <div>
				<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
			<!--  <img src="../../images/contact/dianpu2.jpg"> -->
			  <img src="../../images/contact/dianpu.png">
			 
			  </div>
			  <div class="div_readmore-red">
				 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">点击进入网页版店铺</a>
			  </div>
		   </div>
		   
		   
		   	   <div class="col-lg-6 " style="margin-top: 125px;">
		   		  
		   		  <div class="phone">
		   			 <h2 style="font-size: 28px;">2、官方微信小程序:</h2>
		   		  </div>
		   		  <div>
		   			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum<br class="visisble-sm">laoreet velit ut  rhoncus. Class aptent taciti sociosqu ad litora torquent <br class="visisble-sm">per conubia nostra</p> -->
		   		  <!-- <img src="../../images/contact/wait.jpg"> -->
		   		  <img src="../../images/contact/wxp2.png">
		   		 
		   		  </div>
		   		 <!-- <div class="div_readmore-red">
		   			 <a href="https://mifenggege.tmall.com/?spm=a220o.1000855.1997427133.d4918061.2a222420jEGULZ" target="_blank" class="btn_readMore-red123">进店去看看</a>
		   		  </div> -->
		   </div>
		   
		   
		</div>
		
	 </div>
	</div>
	
	
	
	
	
	
	<!-- Start Footer Section -->
	<footer>
	 <div class="container">
		<!-- Start Subscribe & Social Links Widget -->
		<div class="row footer-row">
		   <div class="col-lg-4 col-md-4 col-sm-4 contact-widget">
			  <div class="footer-widget mail-subscribe-widget">
				 <div class="title">联系我们</div>
				 <div class="phone" style="font-size: 18px;">(+86) 16215067776</div>
				<div>
					<h2 class="widgettitle">地址：连云港市赣榆区海头镇梁东沙村</h2>
					
				 </div>
			  </div>
		   </div>
		   <div class="col-lg-1"></div>
		   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
			<h2 class="widgettitle">了解我们</h2>
			  <ul class="usefull-links">
				 <li><a href="../../about.html" target="_blank">关于我们</a></li>
				  <li> <img class="img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">招聘信息</a></li>
				 <li><a href="../../products.html" target="_blank">产品信息</a></li>
				  <li> <img class="../../img" id="pic10" src="../../images/contact/wx2.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-10%,-150%);z-index:9999"/><a  onclick="showImg10()">寻求合作</a></li>
			    <li> <img class="img" id="pic11" src="../../images/contact/zhizhao.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);z-index:9999"/><a  onclick="showImg11()">营业执照公示</a></li>
			  </ul>
		   </div>
		   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 links">
			 <h2 class="widgettitle">关注我们</h2>
			  <!-- <img src="images/blog/4.png" alt="" class="liner"> -->
				  <ul class="usefull-links">
						 <li> <img class="img" id="pic1" src="../../images/contact/wxp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg()">微信小程序</a></li>
						 <li><img class="img" id="pic3" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  href="https://weibo.com/u/7306941816" target="_blank">微博</a></li>
						 <li> <img class="img" id="pic4" src="../../images/contact/wxapp.png" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg4()">微信公众号</a></li>
						 <li><img class="img" id="pic5" src="../../images/contact/douyin.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg5()">抖音</a></li>
						 <li><img class="img" id="pic6" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg6()">淘宝网店</a></li>
						 <li><img class="img" id="pic7" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg7()">京东网店</a></li>
						 <li><img class="img" id="pic8" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg8()">安卓APP</a></li>
						 <li><img class="img" id="pic9" src="../../images/contact/wait.jpg" style="display:none;position:absolute;left: 50%;top: 50%;transform:translate(-130%,-150%);z-index:9999"/><a  onclick="showImg9()">IOS端应用</a></li>
			</ul>
		   </div>
		   <div class="col-lg-3 col-md-3 col-sm-3 footer-pic">
			  <!-- <h2 class="widgettitle">OUR STORY</h2>
			  <img src="images/blog/4.png" alt="" class="liner"> -->
			  <div class="row">
				 <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 padding-zero">
					<img src="../../images/blog/footer1.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer2.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer3.jpg" alt="" class="img-responsive">
				 </div>
			  </div>
			  <div class="row">
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
					<img src="../../images/blog/footer4.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  padding-zero">
					<img src="../../images/blog/footer5.jpg" alt="" class="img-responsive">
				 </div>
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 padding-zero">
					<img src="../../images/blog/footer6.jpg" alt="" class="img-responsive">
				 </div>
			  </div>
		   </div>
		</div>
		<!-- .row -->
	 </div>
	</footer>
	
	<!-- End Footer Section -->
	<!-- Start Copyright -->
	<div class="copyright-section">
	<!-- <div class="container"> -->
		<!-- <div class="row"> -->
		<!--  <div class="col-md-6">
			  <div class="footer-icons">
				 <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>			   
				 <a href="#" class="tweet"><i class="fa fa-twitter"></i></a>
				 <a href="#" class="linked"><i class="fa fa-linkedin-square"></i></a>
				 <a href="#" class="utube"><i class="fa fa-youtube"></i></a>
				 <a href="#" class="app"><i class="fa fa-whatsapp"></i></a>
				 <a href="#" class="interest"><i class="fa fa-pinterest"></i></a>
			  </div>
		   </div> -->
		   <!-- .col-md-6 -->
		  
		   <!-- <div class="col-md-6 butcher-col"> -->
			 
			   <p style="font-size: 12px; margin:0 auto; position:absolute;left: 33.5% ">站点声明：本站为渔子洲头水产品有限公司官方网站，未经允许不得用作任何商业用途。维护意见邮箱：347113619@qq.com</p><div style="width:300px;margin:0 auto; padding:20px 0;"><nobr><a rel="nofollow" href="http://beian.miit.gov.cn" target="_blank" style="color:#939393;font-size:16px; position:absolute;left: 35%">网站备案号： 苏ICP备20014160号</a><p style="font-size: 16px; margin:0 auto; position:absolute;left: 50% ">|</p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32072102010144" style="position:absolute;left: 52.5%;display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../../images/logo/beian.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32072102010144号</p></a><nobr> 	</div>
				
		   <!-- </div> -->
		   <!-- .col-md-6 -->
		<!-- </div> -->
		<!-- .row -->
	<!-- </div> -->
	
	</div>
	
	
	
	
		
			<script>
				function showImg(){
				     $('.bg_img').show();
				     $('#pic1').show();
				 }
				 function showImg2(){
				      $('.bg_img').show();
				      $('#pic2').show();
				  }
				  function showImg3(){
				       $('.bg_img').show();
				       $('#pic3').show();
				   }
				   function showImg4(){
				        $('.bg_img').show();
				        $('#pic4').show();
				    }
					function showImg5(){
					     $('.bg_img').show();
					     $('#pic5').show();
					 }
					 function showImg6(){
					      $('.bg_img').show();
					      $('#pic6').show();
					  }
					  function showImg7(){
					       $('.bg_img').show();
					       $('#pic7').show();
					   }
					   function showImg8(){
					        $('.bg_img').show();
					        $('#pic8').show();
					    }
						function showImg9(){
						     $('.bg_img').show();
						     $('#pic9').show();
						 }
						  //招聘信息&&寻求合作
						 function showImg10(){
						      $('.bg_img').show();
						      $('#pic10').show();
						  }
						  //营业执照
						   function showImg11(){
						       $('.bg_img').show();
						       $('#pic11').show();
						   }
						  
						 
						 
						 
				 $('.bg_img').click(function(){
				     $('.bg_img').hide();
				     $('.img').hide();
				 });
				 
				 
				 
		    </script>
	
		
		<!-- js -->
		<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function ($) {
				$(".scroll").click(function (event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<script type="text/javascript" src="../../js/bootstrap.js"></script>
		
		
	
	
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Bootstrap Dropdown Hover JS -->
	<script src="../../js/dropdownhover/bootstrap-dropdownhover.min.js"></script>
	<!-- REVOLUTION JS FILES -->
	<script src="../../revolution/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
	 (Load Extensions only on Local File Systems !  
	 The following part can be removed on Server for On Demand Loading) -->
	<script src="../../revolution/js/extensions/revolution.extension.actions.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.carousel.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.kenburn.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.layeranimation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.migration.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.navigation.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.parallax.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.slideanims.min.js" type="text/javascript"></script>
	<script src="../../revolution/js/extensions/revolution.extension.video.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 var tpj = jQuery;
	 
	 var revapi1078;
	 tpj(document).ready(function() {
		 if (tpj("#rev_slider_1078_1").revolution == undefined) {
			 revslider_showDoubleJqueryError("#rev_slider_1078_1");
		 } else {
			 revapi1078 = tpj("#rev_slider_1078_1").show().revolution({
				 sliderType: "standard",
				 jsFileLocation: "revolution/js/",
				 sliderLayout: "fullscreen",
				 dottedOverlay: "none",
				 delay: 9000,
				 navigation: {
					 keyboardNavigation: "off",
					 keyboard_direction: "horizontal",
					 mouseScrollNavigation: "off",
					 mouseScrollReverse: "default",
					 onHoverStop: "off",
					 touch: {
						 touchenabled: "on",
						 swipe_threshold: 75,
						 swipe_min_touches: 1,
						 swipe_direction: "horizontal",
						 drag_block_vertical: false
					 },
					 arrows: {
						 style: "zeus",
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 tmp: '<div class="tp-title-wrap">    <div class="tp-arr-imgholder"><\/div> <\/div>',
						 left: {
							 h_align: "left",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 },
						 right: {
							 h_align: "right",
							 v_align: "center",
							 h_offset: 30,
							 v_offset: 0
						 }
					 },
					 bullets: {
						 enable: true,
						 hide_onmobile: true,
						 hide_under: 600,
						 style: "metis",
						 hide_onleave: true,
						 hide_delay: 200,
						 hide_delay_mobile: 1200,
						 direction: "horizontal",
						 h_align: "center",
						 v_align: "bottom",
						 h_offset: 0,
						 v_offset: 30,
						 space: 5
					 }
				 },
				 viewPort: {
					 enable: true,
					 outof: "pause",
					 visible_area: "80%",
					 presize: false
				 },
				 responsiveLevels: [1240, 1024, 778, 480],
				 visibilityLevels: [1240, 1024, 778, 480],
				 gridwidth: [1240, 1024, 778, 480],
				 gridheight: [600, 600, 500, 400],
				 lazyType: "none",
				 parallax: {
					 type: "mouse",
					 origo: "slidercenter",
					 speed: 2000,
					 levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 46, 47, 48, 49, 50, 55],
					 type: "mouse",
				 },
				 shadow: 0,
				 spinner: "off",
				 stopLoop: "off",
				 stopAfterLoops: -1,
				 stopAtSlide: -1,
				 shuffle: "off",
				 autoHeight: "off",
				 hideThumbsOnMobile: "off",
				 hideSliderAtLimit: 0,
				 hideCaptionAtLimit: 0,
				 hideAllCaptionAtLilmit: 0,
				 debugMode: false,
				 fallbacks: {
					 simplifyAll: "off",
					 nextSlideOnWindowFocus: "off",
					 disableFocusListener: false,
				 }
			 });
		 }
	 }); /*ready*/
	</script>
	<!-- Parallax -->
	<script src="../../js/parallax/jquery.parallax-1.1.3.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>
	<script src="../../js/parallax/jquery.scrollTo-1.4.2-min.js" type="text/javascript"></script>
	<!-- Owl Carousel -->
	<script src="../../js/owl-carousel/owl.carousel.js" type="text/javascript"></script>
	<!-- FitVids -->
	<script src="../../js/fitvids/jquery.fitvids.js" type="text/javascript"></script>
	<!-- Isotope -->
	<script src="../../js/isotope/jquery.isotope.min.js" type="text/javascript"></script>
	<script src="../../js/isotope/custom-isotope-mansory.js" type="text/javascript"></script>
	<!-- Magnific Popup core JS file -->
	<script src="../../js/magnific-popup/jquery.magnific-popup.js" type="text/javascript"></script>
	<!-- Counter Up -->
	<script src="../../js/counterup/waypoints.min.js"></script>
	<script src="../../js/counterup/jquery.counterup.min.js"></script>
	<!-- AJAX Contact Form -->
	<script src="../../js/contact/contact-form.js" type="text/javascript"></script>
	<!-- Donut Chart -->
	<script src="../../js/progress-bars/jquery.donutchart.js" type="text/javascript"></script>
	<!-- Custom JS -->
	<script src="../../js/custom/custom.js"></script>
	<script src="../../js/collapse/collapse.js"></script>
	<script src="../../js/pmenu/pmenu.js"></script>

	
</body>

</html>